venv
.idea
__pycache__
.env
*.db
*.drawio*
pyrightconfig.json
src/databass/static/img/*
pg_data
images*
*backup*
src/databass/static/dist/*
*webassets-cache*
style.css.map
src/databass/static/src/less/style.css