{% extends '_base.html' %}
{% block content %}

<article id="artist_search">
    <section>
        <form class="pure-form">
            <div id="search_form" class="pure-g">
                <input type="text" id="artist" name="artist" placeholder="name" class="pure-u-1-2 pure-u-lg-1-6">
                <select id="country" name="country" class="pure-u-1-6">
                    <option value="" disabled selected>country</option>
                    {% for country in data.countries %}
                        <option value="{{ country }}">{{ country|country_name }}</option>
                    {% endfor %}
                </select>
                <div class="pure-u-1-2 pure-u-lg-1-6">
                    <select id="begin_filter" name="begin" class="pure-u-1-5">
                        <option value="<"><</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                    </select>
                    <input type="number" min=0 max="2100" id="begin" name="begin" class="pure-u-17-24" placeholder="begin">
                </div>
                <div class="pure-u-1-2 pure-u-lg-1-6">
                    <select id="end_filter" name="end_comparison" class="pure-u-1-5">
                        <option value="<"><</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                    </select>
                    <input type="number" min=0 max="2100" id="end" name="end" class="pure-u-17-24" placeholder="end">
                </div>
                <select id="type" name="type" class="pure-u-1-2 pure-u-lg-1-6">
                    <option value="" disabled selected>type</option>
                    <option value="group">group</option>
                    <option value="person">person</option>
                </select>
                <button type="button" id="artist-search" value="submit" class="pure-button pure-u-1-2 pure-u-lg-1-6">submit</button>
            </div>
        </form>
    </section>
    <div id="search-results"></div>
</article>

{% endblock %}