{% extends '_base.html' %}
{% block content %}

<article id="artist_search">
    <section>
        <form action="/dynamic_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
            <div id="artist_search_bar">
                <div class="search_div">
                    <label for="artist">name</label>
                    <input type="text" id="artist" name="artist">
                </div>
                <div class="search_div">
                    <label for="country">country</label>
                    <div>
                        <select id="country" name="country" class="box">
                            <option value="" selected></option>
                            {% for country in data.countries %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="search_div">
                    <label for="begin_date">begin</label>
                    <div>
                        <select id="begin_filter" name="begin_date" class="box">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max="2100" id="begin_date" name="begin_date" class="box">
                    </div>
                </div>
                <div class="search_div">
                    <label for="end_date">end</label>
                    <div>
                        <select id="end_filter" name="end_comparison" class="box">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max="2100" id="end_date" name="end_date" class="box">
                    </div>
                </div>
                <div class="search_div">
                    <label for="type">type</label>
                    <select id="type" name="type" class="box">
                        <option value="" selected></option>
                        <option value="group">group</option>
                        <option value="person">person</option>
                    </select>
                </div>
                <div class="search_div">
                    <p></p>
                    <button type="button" class="box artist-search" value="submit">submit</button>
                </div>
            </div>
        </form>
    </section>
    <div id="search-results"></div>
</article>

{% endblock %}