{% extends '_base.html' %}
{% block content %}

<article id="artist_container">
    <section id="artist">
        <div id="top">
            <div id="artist_image">
                <img src="/img/artist/{{ data.artist.id }}" alt="Artist image">
            </div>
        </div>
        <div id="info">
            <div id="name">
                <h1>{{ data.artist.name }}</h1>
                <h1>{{ data.artist.country }}</h1>
            </div>
            <div id="start">
                {% if data.artist.begin_date != data.no_start %}
                    {% if data.artist.type == 'person' %}born:
                    {% elif data.artist.type == 'group' %}founded:
                    {% endif %}
                    {{ data.artist.begin_date }}
                {% endif %}
            </div>
            <div id="end">
                {% if data.artist.end_date != data.no_end %}
                    {% if data.artist.type == 'person' %}died:
                    {% elif data.artist.type == 'group' %}ended:
                    {% endif %}
                {{ data.artist.end_date }}
                {% endif %}
            </div>
        </div>
    </section>
    <aside>
        <div id="release_info">
            <h1>releases</h1>
            <div>
                {% for item in data.releases %}
                    <div>
                        <a href="/release/{{ item.Release.id }}"><img src="/img/release/{{ item.Release.id }}" alt="Release image"></a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </aside>
</article>

{% endblock %}