{% extends '_base.html' %}
{% block content %}

<article id="artist_container" class="pure-g">
    <section id="artist" class="pure-u-1 pure-u-md-4-24">
        <div id="top">
            <div id="artist_image">
                <img src="/img/artist/{{ data.artist.id }}" alt="Artist image">
            </div>
        </div>
        <div id="info">
            <div id="name">
                <h1>{{ data.artist.name }}</h1>
                {% set country = data.artist.country|country_name %}
                {% if country %}
                    <p>{{ country }}</p>
                {% endif %}
            </div>
            <div id="start">
                {% if data.artist.type == 'person' %}born:
                {% elif data.artist.type == 'group' %}founded:
                {% endif %}
                {% if data.artist.begin != data.no_start %}
                    {{ data.artist.begin }}
                {% else %}
                    ?
                {% endif %}
            </div>
            <div id="end">
                {% if data.artist.type == 'person' %}died:
                {% elif data.artist.type == 'group' %}ended:
                {% endif %}
                {% if data.artist.end != data.no_end %}
                    {{ data.artist.end }}
                {% else %}
                    ?
                {% endif %}
            </div>
        </div>
    </section>
    <aside class="pure-u-1 pure-u-md-20-24">
        <div id="release_info">
            <h1>releases</h1>
            <div class="pure-g">
                {% for item in data.artist.releases %}
                    <div class="pure-u-1-2 pure-u-md-1-3 pure-u-xl-1-4 pure-u-xxl-1-5">
                        <a href="/release/{{ item.id }}"><img src="/img/release/{{ item.id }}" alt="Release image"></a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </aside>
</article>

{% endblock %}