<div>
    <div id="top" class="pure-g">
        <h1 class="pure-u-1-3">EDIT</h1>
        <div class="pure-u-1-4"><button id="edit_submit" type="submit" form="edit_form" class="pure-button">submit</button></div>
        <div class="pure-u-1-4"><button id="edit_cancel" class="pure-button">cancel</button></div>
    </div>
    <div id="bottom">
        <form id="edit_form" method="POST" action="/artist/{{ artist.id }}/edit" class="pure-form">
            <div class="pure-g">
                <label for="begin" class="pure-u-1-3">begin</label>
                <input id="begin" name="begin" value="{{ artist.begin }}" type="date" class="pure-u-2-3">
            </div>

            <div class="pure-g">
                <label for="end" class="pure-u-1-3">end</label>
                <input id="end" name="end" value="{{ artist.end }}" type="date" class="pure-u-2-3">
            </div>

            <div class="pure-g">
                <label for="image" class="pure-u-1-3">image</label>
                <input id="image" name="image" placeholder="<url>" type="url" class="pure-u-2-3">
            </div>

            <div class="pure-g">
                <label for="country" class="pure-u-1-3">country</label>
                <select id="country" name="country" class="pure-u-2-3">
                    <option value="" disabled selected></option>
                    {% for country in countries %}
                        <option value="{{ country}}">{{ country|country_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>
