{% if data %}


<form id="data_form" action="/submit" method="post">
<table>
    <thead>
    <tr>
        <th>RELEASE</th>
        <th>ARTIST</th>
        <th>LABEL</th>
        <th>DATE</th>
        <th>TRACKS</th>
        <th>FORMAT</th>
        <th>
            <nav class="pagination">
                {% if pagination.has_prev %}
                    <button type="button" class="page-btn pagination_button" data-direction="prev" id="prev_page" value="{{ pagination.page - 1 }}">back</button>
                {% else %}
                    <button type="button" disabled class="pagination_button">back</button>
                {% endif %}
                {% if pagination.has_next %}
                    <button type="button" class="page-btn pagination_button" data-direction="next" id="next_page" value="{{ pagination.page + 1 }}">next</button>
                {% else %}
                    <button type="button" class="box pagination_button" disabled style="color: var(--color-black);">next</button>
                {% endif %}
            </nav>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr data-item="{{ item }}">
        <td style="display: none;">
            <input hidden value="{{ item }}" type="radio" name="selected_item">
        </td>
        <td><div>{{ item['release']['name'] }}</div></td>
        <td>{{ item['artist']['name'] }}</td>
        <td>{{ item['label']['name'] }}</td>
        <td>{{ item['date'] }}</td>
        <td>{{ item['track_count'] }}</td>
        <td>{{ item['format'] }}</td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" id="selected_item" name="selected_item">
</form>

{% else %}

<h3>No search results. Either search again or manually enter data below.</h3>
<p>* optional</p>
<form action="/submit" method="POST">
    <table class="manual-release-table">
        <thead>
            <tr>
                <th>
                    <label for="name">name</label>
                </th>
                <th>
                    <label for="artist">artist</label>
                </th>
                <th>
                    <label for="label">label*</label>
                </th>
                <th>
                    <label for="release_year">year</label>
                </th>
                <th>
                    <label for="rating">rating</label>
                </th>
                <th>
                    <label for="genre">genre</label>
                </th>
                <th>
                    <label for="tags">tags*</label>
                </th>
                <th>
                    <label for="art">art*</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="name" name="name" type="text" class="search-btn">
                </td>
                <td>
                    <input id="artist" name="artist" type="text" class="search-btn">
                </td>
                <td>
                    <input id="label" name="label" type="text" class="search-btn">
                </td>
                <td>
                    <input id="release_year" name="release_year" type="number" min="0" max="2100" class="search-btn">
                </td>
                <td>
                    <input id="rating" name="rating" type="number" min="0" max="100" class="search-btn">
                </td>
                <td>
                    <input id="genre" name="genre" type="text" class="search-btn">
                </td>
                <td>
                    <input id="tags" name="tags" type="text" class="search-btn">
                </td>
                <td>
                    <input id="art" name="art" type="text" class="search-btn">
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <input name="manual_submit" value="true" type="text" hidden>
                    <button type="submit" id="manual-submit-button" class="search-btn">submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endif %}


<!-- Below are used by javascript function that handles pagination -->
<p hidden id="data_full">{{ data_full }}</p>
<p hidden id="per_page">{{ per_page }}</p>