{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <div class="chart">
        <canvas id="ratingsChart"></canvas>
        <script>
            var ctx = document.getElementById("ratingsChart").getContext("2d");
            var ratingsChart = new Chart(ctx, {
                type: "bar",
                data: {
                    datasets: [{
                        label: 'ratings',
                        data: {{ data | safe }},
                        barPercentage: 1,
                        categoryPercentage: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'linear',
                            offset: false,
                            grid: {
                                offset: false
                            },
                            ticks: {
                                stepSize: 1
                            }
                        },
                        y: {

                        }
                    }
                }
            });
        </script>
    </div>

</body>