{% extends '_base.html' %}
{% block content %}

<div class="goals">
    <h3>New Goal</h3>
    <form action="/add_goal" method="POST">
        <div id="new_goal">
            <div>
                <label for="start">start date</label>
                <input id="start" type="date" name="start" class="box" value="{{ data.today }}" required>
            </div>
            <div>
                <label for="end">end goal date</label>
                <input id="end" type="date" name="end" class="box" required>
            </div>
            <div>
                <label for="type">type</label>
                <select id="type" name="type" class="box" required>
                    <option value="release">release</option>
                </select>
            </div>
            <div>
                <label for="amount">amount</label>
                <input id="amount" type="number" min="0" name="amount" class="box" required>
            </div>
            <button type="submit" class="box" value="submit" id="submit">submit</button>
        </div>
    </form>
    <div id="goal_table">
        <h3>Existing Goals</h3>
        <div>
            <p></p>
            <p>start date</p>
            <p>end target</p>
            <p>type</p>
            <p>value (goal)</p>
            <p>value (actual)</p>
        </div>
        {% if data.existing_goals|length == 0 %}
            <p>No existing goals</p>
        {% endif %}
        {% for goal in data.existing_goals %}
            <div>
                <button class="box delete-btn" id="delete-btn" data-id="{{ goal.id }}" data-type="goal">x</button>
                <p>{{ goal.start.date() }}</p>
                <p>{{ goal.end.date() }}</p>
                <p>{{ goal.type }}</p>
                <p>{{ goal.amount }}</p>
                <p>{{ goal.new_releases_since_start_date }}</p>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}