<input type="hidden" id="current_page" value="{{ pagination.page }}">
<table class="pure-table">
    <thead>
        <tr>
            <th style="width: 13%;">
                {% if pagination.has_prev %}
                    <button class="pure-button pagination_button prev_page">back</button>
                {% else %}
                    <button disabled class="pure-button pagination_button">back</button>
                {% endif %}

                {% if pagination.has_next %}
                    <button class="pure-button pagination_button next_page">next</button>
                {% else %}
                    <button disabled class="pure-button pagination_button">next</button>
                {% endif %}
            </th>
            <th style="width: 22%;">TITLE</th>
            <th style="width: 20%;">ARTIST</th>
            <th style="width: 7%;">RATING</th>
            <th style="width: 11%;">LISTENED</th>
            <th style="width: 10%;">GENRE</th>
            <th style="width: 17%;">SUBGENRES</th>
        </tr>
    </thead>
    <tbody>
    {% for release in data %}
        <tr>
            <td>
                <img class="pure-img" src="/img/release/{{ release.id }}" alt="album art">
            </td>
            <td>
                <a href="/release/{{ release.id }}" class="link">{{ release.name }}</a>
            </td>
            <td>
                <a href="/artist/{{ release.artist.id }}" class="link">{{ release.artist.name }}</a>
            </td>
            <td>
                {{ release.rating }}%
            </td>
            <td>
                {{ release.listen_date.date() }}
            </td>
            <td>
                {{ release.main_genre.name }}
            </td>
            <td>
                <p>
                    {% for g in release.genres %}
                        {{ g.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>