<input type="hidden" id="current_page" value="{{ pagination.page }}">
<table id="home_table">
    <thead>
    <tr>
        <th id="home_table_pagination">
            {% if pagination.has_prev %}
                <button class="pagination_button prev_page">back</button>
            {% else %}
                <button disabled class="pagination_button">back</button>
            {% endif %}

            {% if pagination.has_next %}
                <button class="pagination_button next_page">next</button>
            {% else %}
                <button disabled class="pagination_button">next</button>
            {% endif %}
        </th>
        <th>
            <p>TITLE</p>
        </th>
        <th>
            <p>ARTIST</p>
        </th>
        <th>
            <p>RATING</p>
        </th>
        <th>
            <p>LISTENED</p>
        </th>
        <th>
            <p>GENRE</p>
        </th>
        <th>
            <p>SUBGENRES</p>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for release in data %}
        <tr>
            <td>
                <img src="/img/release/{{ release.id }}" alt="album art">
            </td>
            <td>
                <a href="/release/{{ release.id }}" class="link">{{ release.name }}</a>
            </td>
            <td>
                <a href="/artist/{{ release.artist_id }}" class="link">{{ release.artist_name }}</a>
            </td>
            <td>
                {{ release.rating }}%
            </td>
            <td>
                {{ release.listen_date.date() }}
            </td>
            <td>
                {{ release.genre }}
            </td>
            <td style="white-space: normal!important;">
                <p>
                    {{ release.tags | join(', ') }}
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
