<br><h3>GOALS</h3><br>
{% if goals[0] %}
<table class="pure-table pure-table-horizontal" id="home_goals">
    <thead>
        <tr>
            <th>
                <p>{{ goals[0]["amount"] }} {{ goals[0]["type"] }}s by {{ goals[0]["end"].date() }}</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>started: {{ goals[0]["start"].date() }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>progress: {{ goals[0]["progress"] }}%</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>remaining: {{ goals[0]["amount"] - goals[0]["current"] }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>target: {{ goals[0]["target"] }} / day</p>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}