{% extends '_base.html' %}
{% block content %}
    <div id="home">
        <article id="home_container">
            <section>
                <table id="home_table">
                    <thead>
                        <tr>
                            <th id="home_table_pagination">
                                {% if pagination.has_prev %}
                                    <button onclick="window.location.href='/home?page={{ pagination.page - 1 }}'" class="pagination_button">back</button>
                                {% else %}
                                    <button disabled class="pagination_button">back</button>
                                {% endif %}

                                {% if pagination.has_next %}
                                    <button onclick="window.location.href='/home?page={{ pagination.page + 1 }}'" class="pagination_button">next</button>
                                {% else %}
                                    <button disabled style="color: var(--color-black);" class="pagination_button">next</button>
                                {% endif %}
                            </th>
                            <th>
                                <p>TITLE</p>
                            </th>
                            <th>
                                <p>ARTIST</p>
                            </th>
                            <th>
                                <p>RATING</p>
                            </th>
                            <th>
                                <p>LISTENED</p>
                            </th>
                            <th>
                                <p>GENRE</p>
                            </th>
                            <th>
                                <p>TAGS</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for release in data %}
                        <tr>
                            <td>
                                {% if release.image %}
                                    <img src="{{  release.image }}" alt="album art">
                                {% else %}
                                    <img src="./static/img/none.png" alt="album art missing">
                                {% endif %}
                            </td>
                            <td>
                                <a href="/release/{{ release.id }}" class="link">{{ release.name }}</a>
                            </td>
                            <td>
                                <a href="/artist/{{ release.artist_id }}" class="link">{{ release.artist_name }}</a>
                            </td>
                            <td>
                                {{ release.rating }}%
                            </td>
                            <td>
                                {{ release.listen_date.date() }}
                            </td>
                            <td>
                                {{ release.genre }}
                            </td>
                            <td style="white-space: normal!important;">
                                <p>
                                    {{ release.tags | join(', ') }}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </article>
        <aside id="home_aside">
            <section>
                <h4>STATS</h4>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <p>total</p>
                            </th>
                            <th>
                                <p>yearly</p>
                            </th>
                            <th>
                                <p>daily / avg</p>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <p>releases</p>
                        </td>
                        <td>
                            <p>{{ stats.total_listens }}</p>
                        </td>
                        <td>
                            <p>{{ stats.listens_this_year}}</p>
                        </td>
                        <td>
                            <p>{{ stats.listens_per_day }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>artists</p>
                        </td>
                        <td>
                            <p>{{ stats.total_artists }}</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>labels</p>
                        </td>
                        <td>
                            <p>{{ stats.total_labels }}</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>runtime</p>
                        </td>
                        <td>
                            <p>{{ stats.total_runtime }}h</p>
                        </td>
                        <td></td>
                        <td>
                            <p>{{ stats.average_runtime }}m</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>rating</p>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>{{ stats.average_rating }}%</p>
                        </td>
                    </tr>

                </table>
            </section>
            <section id="home_goals">
                <h4>GOALS</h4>
                {% if goals[0] %}
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <p>{{ goals[0]["amount"] }} {{ goals[0]["type"] }}s by {{ goals[0]["end_goal"].date() }}</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <p>progress</p>
                            </th>
                            <td>
                                <p>{{ goals[0]["progress"] }}%</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>target</p>
                            </th>
                            <td>
                                <p>{{ goals[0]["target"] }} / day</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>remaining</p>
                            </th>
                            <td>
                                <p>{{ goals[0]["amount"] - goals[0]["current"] }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>start</p>
                            </th>
                            <td>
                                <p>{{ goals[0]["start_date"].date() }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </section>
        </aside>
    </div>

{% endblock %}
