<div id="manual_release_container">
    <h3>No search results. Search again, or enter the release data manually below.</h3>
    <p>* - optional</p>
    <form action="/submit" method="POST">
        <div class="row">
            <label for="name">name</label>
            <input id="name" name="name" type="text">
        </div>
        <div class="row">
            <label for="artist">artist</label>
            <input id="artist" name="artist" type="text">
        </div>
        <div class="row">
            <label for="label">label*</label>
            <input id="label" name="label" type="text">
        </div>
        <div class="row">
            <label for="year">year</label>
            <input id="year" name="year" type="number" min="0" max="2100">
        </div>
        <div class="row">
            <label for="rating">rating</label>
            <input id="rating" name="rating" type="number" min="0" max="100">
        </div>
        <div class="row">
            <label for="main_genre">genre</label>
            <input id="main_genre" name="main_genre" type="text">
        </div>
        <div class="row">
            <label for="tags">subgenres*</label>
            <input id="tags" name="tags" type="text">
        </div>
        <div class="row">
            <label for="image">image*</label>
            <input id="image" name="image" type="text">
        </div>
        <div class="row">
            <label for="country">country*</label>
            <input id="country" name="country" type="text">
        </div>
        <div class="row">
            <label for="track_count">track count*</label>
            <input id="track_count" name="track_count" type="number" min="0">
        </div>
        <div class="row">
            <label for="runtime">runtime* (min)</label>
            <input id="runtime" name="runtime" type="number" min="0">
        </div>
        <div class="row" id="button">
            <input name="manual_submit" value="true" type="text" hidden>
            <button type="submit" id="manual-submit-button" class="search-btn">submit</button>
        </div>
    </form>
</div>