<div id="manual_release_container">
    <br>
    <h3>No search results. Search again, or enter the release data manually below.</h3>
    <br>
    <form action="/submit" method="POST" class="pure-form pure-form-stacked">
        <fieldset>
            <input id="name" name="name" type="text" placeholder="release name" required>
            <input id="artist" name="artist" type="text" placeholder="artist" required>
            <input id="label" name="label" type="text" placeholder="label">
            <input id="year" name="year" type="number" min="0" max="2100" placeholder="release year" required>
            <input id="rating" name="rating" type="number" min="0" max="100" placeholder="rating" required>
            <input id="main_genre" name="main_genre" type="text" placeholder="main genre" required>
            <input id="genres" name="genres" type="text" placeholder="subgenre1, subgenre2">
            <input id="image" name="image" type="text" placeholder="https://image.url">
            <input id="country" name="country" type="text" placeholder="country">
            <input id="track_count" name="track_count" type="number" min="0" placeholder="track count">
            <input id="runtime" name="runtime" type="number" min="0" placeholder="runtime (mins)">
            <input name="manual_submit" value="true" type="text" hidden>
            <button type="submit" class="pure-button">submit</button>
        </fieldset>
    </form>
</div>