{% extends '_base.html' %}
{% block content %}
<div id="new_release">
    <div>
        <form class="pure-form" action="/search" method="POST">
            <fieldset>
                <legend>search for a new release</legend>
                <input type="text" id="release" name="release" placeholder="release">
                <input type="text" id="artist" name="artist" placeholder="artist">
                <input type="text" id="label" name="label" placeholder="label">

                <button type="button" class="new_search pure-button" data-action="search" id="search">search</button>
                <button class="manual_entry pure-button">manual entry</button>
            </fieldset>
        </form>
    </div>
    <div id="search_results"></div>
</div>
{% endblock %}