<div class="popup_content">
    <button class="close-btn pure-button">&times;</button>
    <form action="/submit" method="POST" class="pure-form pure-form-aligned">
        <!-- hidden fields used by backend -->
        <input type="hidden" name="manual_submit" value="false">
        <input type="hidden" name="release_group_id" value="{{ data.release_group_id }}">
        <input type="hidden" name="release_name" value="{{ data.release.name }}">
        <input type="hidden" name="artist" value="{{ data.artist.name }}">
        <input type="hidden" name="label" value="{{ data.label.name }}">
        <input type="hidden" name="release_mbid" value="{{ data.release.mbid }}">
        <input type="hidden" name="artist_mbid" value="{{ data.artist.mbid }}">
        <input type="hidden" name="label_mbid" value="{{ data.label.mbid }}">
        <input type="hidden" name="track_count" value="{{ data.track_count }}">
        <input type="hidden" name="country" value="{{ data.country }}">
        <!-- visible fields -->
        <fieldset>
            <div class="pure-control-group">
                <label for="release">RELEASE</label>
                <input id="release" type="text" value="{{ data.release.name }}" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="artist">ARTIST</label>
                <input id="artist" type="text" value="{{ data.artist.name }}" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="label">LABEL</label>
                <input id="label" type="text" value="{{ data.label.name }}" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="tracks">TRACKS</label>
                <input id="tracks" type="number" value="{{ data.track_count }}" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="rating">RATING</label>
                <input type="number" min="0" max="100" required id="rating" name="rating" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="year">YEAR</label>
                <input type="number" min="0" max="3000" required id="year" name="year" value="{{ data.date }}" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="main_genre">GENRE</label>
                <input type="text" required id="main_genre" name="main_genre" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
                <label for="genres">SUBGENRES</label>
                <input type="text" id="genres" name="genres" class="pure-input-1-2">
            </div>
            <div class="pure-control-group" style="display: flex; justify-content: center;">
                <button type="submit" class="pure-button">SUBMIT</button>
            </div>
        </fieldset>
    </form>
</div>

