{% if data %}
<div id="search_results_container">
<input type="hidden" value="{{ pagination.page }}" id="current_page">
<form id="data_form" action="/submit" method="post">
<input type="hidden" name="referrer" value="page_button">


<div id="search_table">
    <div class="row" id="head">
        <div class="pagination">
            {% if pagination.has_prev %}
                <button type="button" class="page-btn pagination_button" id="prev_page" value="{{ pagination.page - 1 }}">back</button>
            {% else %}
                <button type="button" disabled class="pagination_button">back</button>
            {% endif %}
            {% if pagination.has_next %}
                <button type="button" class="page-btn pagination_button" id="next_page" value="{{ pagination.page + 1 }}">next</button>
            {% else %}
                <button type="button" class="box pagination_button" disabled>next</button>
            {% endif %}
        </div>
        <h3>RELEASE</h3>
        <h3>ARTIST</h3>
        <h3>LABEL</h3>
        <h3>DATE</h3>
        <h3>TRACKS</h3>
        <h3>FORMAT</h3>
        <h3>COUNTRY</h3>
    </div>
    <div id="rows">
    {% for item in data %}
    <div class="row" data-item="{{ item }}">
        <span></span>
        <input value="{{ item }}" type="radio" name="selected_item" style="display: none;">
        <p>{{ item['release']['name'] }}</p>
        <p>{{ item['artist']['name'] }}</p>
        <p>{{ item['label']['name'] }}</p>
        <p>{{ item['date'] }}</p>
        <p>{{ item['track_count'] }}</p>
        <p>{{ item['format'] }}</p>
        <p>{{ item['country'] }}</p>
    </div>
    {% endfor %}
    </div>
</div>
<input type="hidden" id="selected_item" name="selected_item">
</form>
</div>

{% else %}
    {% include 'manual_release_submit.html' %}
{% endif %}


<!-- Below are used by javascript function that handles pagination -->
<p hidden id="data_full">{{ data_full }}</p>
<p hidden id="per_page">{{ per_page }}</p>