{% if data %}
<div id="search_results_container">
<input type="hidden" value="{{ pagination.page }}" id="current_page">
<form id="data_form" action="/submit" method="post">
<input type="hidden" name="referrer" value="page_button">
<table>
    <thead>
    <tr>
        <th>RELEASE</th>
        <th>ARTIST</th>
        <th>LABEL</th>
        <th>DATE</th>
        <th>TRACKS</th>
        <th>FORMAT</th>
        <th>
            <nav class="pagination">
                {% if pagination.has_prev %}
                    <button type="button" class="page-btn pagination_button" data-direction="prev" id="prev_page" value="{{ pagination.page - 1 }}">back</button>
                {% else %}
                    <button type="button" disabled class="pagination_button">back</button>
                {% endif %}
                {% if pagination.has_next %}
                    <button type="button" class="page-btn pagination_button" data-direction="next" id="next_page" value="{{ pagination.page + 1 }}">next</button>
                {% else %}
                    <button type="button" class="box pagination_button" disabled style="color: var(--color-black);">next</button>
                {% endif %}
            </nav>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr data-item="{{ item }}">
        <td style="display: none;">
            <input hidden value="{{ item }}" type="radio" name="selected_item">
        </td>
        <td><div>{{ item['release']['name'] }}</div></td>
        <td>{{ item['artist']['name'] }}</td>
        <td>{{ item['label']['name'] }}</td>
        <td>{{ item['date'] }}</td>
        <td>{{ item['track_count'] }}</td>
        <td>{{ item['format'] }}</td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" id="selected_item" name="selected_item">
</form>
</div>

{% else %}
    {% include 'manual_release_submit.html' %}
{% endif %}


<!-- Below are used by javascript function that handles pagination -->
<p hidden id="data_full">{{ data_full }}</p>
<p hidden id="per_page">{{ per_page }}</p>