{% extends '_base.html' %}
{% block content %}
    <table class="filter-table" id="stats-filter">
        <thead>
        <tr>
            <td class="form-cell">
                <label for="sort">sort</label> <br>
                <select id="sort" name="sort" class="box">
                    <option selected></option>
                    <option value="highest">highest</option>
                    <option value="lowest">lowest</option>
                </select>
            </td>
            <td class="form-cell">
                <label for="metric">metric</label><br>
                <select id="metric" name="metric" class="box">
                    <option selected></option>
                    <option value="average">average</option>
                    <option value="total">total</option>
                </select>
            </td>
            <td class="form-cell">
                <label for="item_type">type</label> <br>
                <select id="item_type" name="item_type" class="box">
                    <option selected></option>
                    {#                    <option value="release">release</option>#}
                    <option value="artist">artist</option>
                    <option value="label">label</option>
                    {#                    <option value="genre">genre</option>#}
                    {#                    <option value="year">year</option>#}
                    {#                    <option value="country">country</option>#}
                </select>
            </td>
            <td class="form-cell">
                <label for="item_property">property</label><br>
                <select id="item_property" name="item_property" class="box">
                    <option selected></option>
                    <option value="rating">rating</option>
                    <option value="runtime">runtime</option>
                    <option value="count">count</option>
                </select>
            </td>
            <td class="form-cell" style="vertical-align: bottom;">
                <button type="button" class="box stats-search" value="submit">submit</button>
            </td>
        </tr>
        </thead>
    </table>

    <div class="stats_search_container">

    </div>
{% endblock %}
