<div id="navbar">
    <h1 style="padding-left: 20px;">databass v0.4</h1>
    <a href="/" style="padding-left: 35px;" class="{% if active_page == 'home' %}active{% endif %}">home</a>
    &nbsp / &nbsp
    <a href="/new" id="new-release-link" class="{% if active_page == 'new' %}active{% endif %}">new</a>
    &nbsp / &nbsp
    <a href="/releases" id="releases-link" class="{% if active_page == 'releases' %}active{% endif %}">releases</a>
    &nbsp / &nbsp
    <a href="/artists" id="artists-link" class="{% if active_page == 'artists' %}active{% endif %}">artists</a>
    &nbsp / &nbsp
    <a href="/labels" id="labels-link" class="{% if active_page == 'labels' %}active{% endif %}">labels</a>
    &nbsp / &nbsp
    <a href="/stats" id="stats-link" class="{% if active_page == 'stats' %}active{% endif %}">stats</a>
    &nbsp / &nbsp
    <a href="/goals" id="goals-link" class="{% if active_page == 'goals' %}active{% endif %}">goals</a>
</div>
