<table class="pagination">
    <tr>
        <td>
            {% if pagination.has_prev %}
            <button type="button" class="box dynamic-page-btn" data-direction="prev" id="prev_page" value="{{ pagination.page - 1 }}">back</button>
            {% else %}
            <button type="button" class="box" disabled style="color: var(--color-black);">back</button>
            {% endif %}
        </td>
        <td>
            {% if pagination.has_next %}
            <button type="button" class="box dynamic-page-btn" data-direction="next" id="next_page" value="{{ pagination.page + 1 }}">next</button>
            {% else %}
            <button type="button" class="box" disabled style="color: var(--color-black);">next</button>
            {% endif %}
        </td>
    </tr>
</table>

<table class="dynamic-search-table">
{% for i in range(items|length) %}
    {% if i % 7 == 0 %}
        <tr>
    {% endif %}
            <td>
                {% set id = items[i].id %}
                {% if type == 'release' %}
                    <a class="link" href="/release/{{ id }}">
                {% elif type == 'artist' %}
                    <a class="link" href="/artist/{{ id }}">
                {% elif type == 'label' %}
                    <a class="link" href="/label/{{ id }}">
                {% endif %}
                {% if i == 0 %}
                    <p>{{ items[i].data }}</p>
                {% endif %}

                {% if items[i].image %}
                    {% set local_img = id|img_exists(type, items[i].image) %}
                    {% if local_img %}
                        <img src="{{ local_img }}" alt="Image for {{ items[i] }}">
                    {% else %}
                        <img src="{{ items[i].image }}" alt="Image for {{ items[i] }}">
                    {% endif %}
                {% endif %}

                {% if type == 'release' %}
                        <p>{{ items[i].name }} ({{ items[i].rating }}%)</p>
                {% else %}
                        <p>{{ items[i].name }}</p>
                {% endif %}
                    </a>
            </td>
{% endfor %}
        </tr>
</table>

<p id="per_page" hidden>{{ per_page }}</p>
<p id="data_full" hidden>{{ data_full }}</p>
<p id="search_type" hidden>{{ type }}</p>
