{% if data %}
<table class="pagination">
    <tr>
        <td>
            {% if pagination.has_prev %}
                <button type="button" class="box page-btn" data-direction="prev" id="prev_page" value="{{ pagination.page - 1 }}">back</button>
            {% else %}
            <button type="button" class="box" disabled style="color: var(--color-black);">back</button>
            {% endif %}
        </td>
        <td>
            {% if pagination.has_next %}
                <button type="button" class="box page-btn" data-direction="next" id="next_page" value="{{ pagination.page + 1 }}">next</button>
            {% else %}
                <button type="button" class="box" disabled style="color: var(--color-black);">next</button>
            {% endif %}
        </td>
    </tr>
</table>

<form id="data-form" action="/submit" method="post">
<table id="data-table">
    <thead>
    <tr>
        <th style="width: 25%;">RELEASE</th>
        <th style="width: 25%;">ARTIST</th>
        <th style="width: 20%;">LABEL</th>
        <th style="width: 9%;">DATE</th>
        <th style="width: 8%;">TRACKS</th>
        <th style="width: 10%;">FORMAT</th>
    </tr>
    </thead>
    <tbody id="paged_search">
    {% for item in data %}
    <tr data-item="{{ item }}" class="search-data">
        <td style="display: none;">
            <input value="{{ item }}" type="radio" name="selected_item">
        </td>
        <td class="long">{{ item['release']['name'] }}</td>
        <td class="long">{{ item['artist']['name'] }}</td>
        <td class="long">{{ item['label']['name'] }}</td>
        <td class="short">{{ item['date'] }}</td>
        <td class="short">{{ item['track-count'] }}</td>
        <td class="long">{{ item['format'] }}</td>
        <td style="display: none;">{{ item['release_year'] }}</td>
        <td style="display: none;">{{ item['rating'] }}</td>
        <td style="display: none;">{{ item['genre'] }}</td>
        <td style="display: none;">{{ item['tags'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" id="selected_item" name="selected_item">
</form>

{% else %}

<h3>No search results. Either search again or manually enter data below.</h3>
<p>* optional</p>
<form action="/submit_manual" method="POST">
    <table class="manual-release-table">
        <thead>
            <tr>
                <th>
                    <label for="name">name</label>
                </th>
                <th>
                    <label for="artist">artist</label>
                </th>
                <th>
                    <label for="label">label*</label>
                </th>
                <th>
                    <label for="release_year">release year</label>
                </th>
                <th>
                    <label for="rating">rating</label>
                </th>
                <th>
                    <label for="genre">genre</label>
                </th>
                <th>
                    <label for="tags">tags*</label>
                </th>
                <th>
                    <label for="art">art*</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="name" name="name" type="text" class="search-btn">
                </td>
                <td>
                    <input id="artist" name="artist" type="text" class="search-btn">
                </td>
                <td>
                    <input id="label" name="label" type="text" class="search-btn">
                </td>
                <td>
                    <input id="release_year" name="release_year" type="number" min="0" max="2100" class="search-btn">
                </td>
                <td>
                    <input id="rating" name="rating" type="number" min="0" max="100" class="search-btn">
                </td>
                <td>
                    <input id="genre" name="genre" type="text" class="search-btn">
                </td>
                <td>
                    <input id="tags" name="tags" type="text" class="search-btn">
                </td>
                <td>
                    <input id="art" name="art" type="text" class="search-btn">
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <button type="submit" id="manual-submit-button" class="search-btn">submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endif %}

<script src="/static/scripts.js"></script>

<!-- Below are used by javascript function that handles pagination -->
<p hidden id="data_full">{{ data_full }}</p>
<p hidden id="per_page">{{ per_page }}</p>