<div>
    <div id="top">
        <h1>EDIT</h1>
        <button id="edit_submit" type="submit" form="edit_form">submit</button>
        <button id="edit_cancel">cancel</button>
        <span></span>
    </div>
    <div id="bottom">
        <form id="edit_form" method="POST" action="/release/{{ release.id }}/edit">
            <div>
                <label for="year">release year</label>
                <input id="year" name="year" value="{{ release.year }}" type="number">
            </div>

            <div>
                <label for="main_genre">main genre</label>
                <input id="main_genre" name="main_genre" value="{{ release.main_genre.name }}">
            </div>

            <div>
                <label for="rating">rating</label>
                <input id="rating" name="rating" value="{{ release.rating }}" type="number">
            </div>

            <div>
                <label for="image">image</label>
                <input id="image" name="image" placeholder="<url>" type="url">
            </div>

            <div>
                <label for="listen_date">listen date</label>
                <input id="listen_date" name="listen_date" value="{{ release.listen_date.strftime('%Y-%m-%d') }}" type="date">
            </div>

            <div>
                <label for="country">country</label>
                <select id="country" name="country">
                    {% for country in countries %}
                        <option value="{{ country}}">{{ country|country_name }}</option>
                    {% endfor %}
                </select>
            </div>

        </form>
    </div>
</div>