{% extends '_base.html' %}
{% block content %}
<div>
    <form action="/release/{{ release.id }}/edit" method="POST">
        <input type="hidden" id="release_id" name="id" value="{{ release.id }}">
        <input type="hidden" id="release_name" name="name" value="{{ release.name }}">
        <input type="hidden" id="label_id" name="label_id" value="{{ release.label_id }}">
        <input type="hidden" id="artist_id" name="artist_id" value="{{ release.artist_id }}">
    <table class="release-table">
        <thead>
        <tr>
            <th>
                <img src="{{ image }}" style="max-height: 75vh; max-width: 100%;" alt="Album art">
            </th>
            <th>
                <h1><a href="/artist/{{ artist.id }}" class="link">{{ artist.name }}</a></h1>
            </th>
            <th>
                <h2>{{ release.name }}</h2>
            </th>
            <th>
                <a href="/label/{{ label.id }}" class="link">{{ label.name }}</a>
            </th>
            <th>
                <a href="/edit/{{ release.id }}" class="link">edit</a>
            </th>
            <th>
                <p class="link" id="delete" data-id="{{ release.id }}">delete</p>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="listen_date">listen date</label>
                <input type="text" id="listen_date" name="listen_date" value="{{ release.listen_date }}">
            </td>
            <td>
                <label for="rating">rating</label>
                <input type="number" min="0" max="100" id="rating" name="rating" value="{{ release.rating }}">
            </td>
            <td>
                <label for="release_year">released</label>
                <input type="number" min="0" id="release_year" name="release_year" value="{{ release.release_year }}">
            </td>
             <td>
                <label for="genre">genre</label>
                <input type="text" id="genre" name="genre" value="{{ release.genre }}">
            </td>
            <td>
                <label for="tags">tags</label>
                <input type="text" id="tags" name="tags" value="{{ release.tags }}">
            </td>
            <td>
                <label for="country">country</label>
                <input type="text" id="country" name="country" value="{{ release.country }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="image">album art</label>
                <input type="text" id="image" name="image" value="{{ release.image }}">
            </td>
            <td>
                <button type="submit" class="search-btn">submit</button>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
{% endblock %}