{% extends '_base.html' %}
{% block content %}

<article id="release_search">
    <form class="pure-form">
        <div id="search_form" class="pure-g">
            <input type="text" id="name" name="name" placeholder="release" class="pure-u-1-2 pure-u-lg-1-8">
            <input type="text" id="artist" name="artist" placeholder="artist" class="pure-u-1-2 pure-u-lg-1-8">
            <select id="label" name="label" class="pure-u-1-2 pure-u-lg-1-8">
                <option value="" disabled selected>label</option>
                {% for label in data.labels %}
                    <option value="{{ label }}">{{ label }}</option>
                {% endfor %}
            </select>
            <select id="country" name="country" class="pure-u-1-2 pure-u-lg-1-8">
                <option value="" disabled selected>country</option>
                {% for country in data.countries %}
                    <option value="{{ country }}">{{ country|country_name }}</option>
                {% endfor %}
            </select>
            <div class="pure-u-1-2 pure-u-lg-1-8">
                <select id="rating-filter" name="rating_comparison" class="pure-u-1-5">
                    <option value="<"><</option>
                    <option value="=">=</option>
                    <option value=">">></option>
                </select>
                <input type="number" min=0 max=100 id="rating" name="rating" placeholder="rating" class="pure-u-17-24">
            </div>
            <div class="pure-u-1-2 pure-u-lg-1-8">
                <select id="year-filter" name="year_comparison" class="pure-u-1-5">
                    <option value="<"><</option>
                    <option value="=">=</option>
                    <option value=">">></option>
                </select>
                <input type="number" min=0 max="2100" id="year" name="year" placeholder="year" class="pure-u-17-24">
            </div>
            <select id="main_genre" name="main_genre" class="pure-u-1-2 pure-u-lg-1-8">
                <option value="" selected></option>
                {% for genre in data.genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            <button type="button" id="release-search" value="submit" class="pure-button pure-u-1-2 pure-u-lg-1-8">submit</button>
        </div>
    </form>

    <div id="search-results"></div>
</article>

{% endblock %}