{% extends '_base.html' %}
{% block content %}
<article id="release_container">
    <section id="release">
        <div id="top">
            <div id="image">
                <img src="/img/release/{{ data.release.id }}" alt="Album art">
            </div>
            <div id="buttons">
                <button id="edit-btn" data-id="{{ data.release.id }}">edit</button>
                <button class="delete-btn" id="delete-btn" data-id="{{ data.release.id }}" data-type="release">delete</button>
            </div>
        </div>
        <div id="info">
            <div id="rating">
                <h4>
                    listened: {{ data.release.listen_date.strftime('%Y-%m-%d') }}
                </h4>
                <h4>
                    rating: <br>{{ data.release.rating }}%
                </h4>
            </div>
            <div id="title">
                <h1>{{ data.release.name }} </h1>
                <h2>
                    <a href="/artist/{{  data.artist.id }}">{{ data.artist.name }}</a>
                </h2>
                <p>({{ data.release.release_year }})</p>
            </div>
            <div id="release_label">
                {% if data.release.country %}
                    {% set country = data.release.country %}
                {% else %}
                    {% set country = "?" %}
                {% endif %}
                <h2>
                    <a href="/label/{{ data.label.id }}">{{ data.label.name }}</a>
                </h2>
                <p>{{ country|country_name }}</p>
            </div>
            <div id="genres">
                <h3>
                    primary genre: {{ data.release.genre }}
                </h3>
                {% if data.release.tags %}
                    <h3>
                        secondary genre(s):
                    </h3>
                    {% set tags = data.release.tags.split(',') %}
                    <ul>
                        {% for genre in tags %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div id="reviews">
            <div id="new">
                <h2>REVIEWS</h2>
                <form method="POST" action="/release/{{ data.release.id }}/add_review">
                    <div>
                        <input type="hidden" id="release_id" name="release_id" value="{{ data.release.id }}">
                        <label for="review">new review</label>
                        <button type="submit" class="box">submit</button>
                    </div>
                    <textarea name="text" id="review"></textarea>
                </form>
            </div>
            <div id="existing">
                {% if data.reviews %}
                    <div id="review_table">
                        {% for review in data.reviews %}
                            <div>
                                <p>{{ review.timestamp }}</p>
                                <p id="review_text">{{ review.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No existing reviews</p>
                {% endif %}
            </div>
        </div>
    </section>
    <aside>
        <div id="artist_info">
            <h1>also by <a href="/artist/{{ data.artist.id }}">{{ data.artist.name }}:</a></h1>
            <div>
                {% for item in data.artist_releases %}
                    {% if not item.Release.id == data.release.id %}
                        <div>
                            <a href="/release/{{ item.Release.id }}"><img src="/img/release/{{ item.Release.id }}" alt="Release image"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="label_info">
            <h1>also by <a href="/label/{{ data.label.id }}">{{ data.label.name }}:</a></h1>
            <div>
                {% for item in data.label_releases %}
                    {% if not item.Release.id == data.release.id %}
                        <div>
                            <a href="/release/{{ item.Release.id }}"><img src="/img/release/{{ item.Release.id }}" alt="Album image"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </aside>
</article>

{% endblock %}
