{% extends '_base.html' %}
{% block content %}
<div>
    <table class="release-table">
        <thead>
            <tr>
                <th>
                    {% if data.release.image %}
                        {% set src = data.release.image %}
                    {% else %}
                        {% set src = "static/img/none.png" %}
                    {% endif %}
                    <img src="../{{ src }}" style="max-height: 75vh; max-width: 100%;" alt="Album art">
                </th>
                <th>
                    <h1><a href="/artist/{{ data.artist.id }}" class="link">{{data.artist.name}}</a></h1>
                </th>
                <th>
                    <h2>{{ data.release.name }}</h2>
                </th>
                <th>
                    <a href="/label/{{ data.label.id }}" class="link">{{ data.label.name }}</a>
                </th>
                <th>
                    <button onclick="window.location.href='/edit/{{ data.release.id }}'" class="box edit-btn">edit</button>
                </th>
                <th>
                   <button class="box delete-btn" id="delete-btn" data-id="{{ data.release.id }}" data-type="release">delete</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>listened: {{ data.release.listen_date }}</p>
                </td>
                <td>
                    <p>rating: {{ data.release.rating }}%</p>
                </td>
                <td>
                    <p>released: {{ data.release.release_year }}</p>
                </td>
                <td>
                    <p>genre: {{ data.release.genre }}</p>
                </td>
                <td>
                    <p>tags: {{ data.release.tags }}</p>
                </td>
                <td>
                    <p>country: {{ data.release.country }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>REVIEWS</h1>
                </td>
                <td colspan="5" rowspan="3" style="height: 100%; border: 1px solid #c6c6c5; padding: 10px;">
                    <table style="height: 100%">
                        {% for review in data.reviews %}
                        <tr class="review-row">
                            <td class="review-col review-time">{{ review.timestamp }}</td>
                            <td class="review-col review-text">{{ review.text }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <form method="POST" action="/add_review">
                        <input type="hidden" id="release_id" name="release_id" value="{{ data.release.id }}">
                        <label for="review">new review</label>
                        <textarea name="text" id="review"></textarea><br><br>
                        <button type="submit" class="box">submit</button>
                    </form>
                </td>
            </tr>
            <tr><td><p></p></td></tr>
        </tbody>
    </table>
</div>

{% endblock %}
