{% extends '_base.html' %}
{% block content %}
<div class="search-bar">
<form action="/release_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
<table class="filter-table">
    <thead>
        <tr>
            <td class="form-cell">
                <label for="name">name</label><br>
                <input type="text" id="name" name="name" class="box">
            </td>
            <td class="form-cell">
                <label for="artist">artist</label><br>
                <input type="text" id="artist" name="artist" class="box">
            </td>
            <td class="form-cell">
                <label for="label">label</label><br>
                <select id="label" name="label" class="box">
                    {% for label in data.labels %}
                    <option value="{{ label }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="country">country</label><br>
                <select id="country" name="country" class="box">
                    <option value="" selected></option>
                    {% for country in data.countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="rating-filter">rating</label><br>
                <select id="rating-filter" name="rating_comparison" class="box">
                    <option value="<"><</option>
                    <option value="=">=</option>
                    <option value=">">></option>
                </select>
                <input type="number" min=0 max=100 id="rating" name="rating" class="box">
            </td>
            <td class="form-cell">
                <label for="year-filter">year</label><br>
                <select id="year-filter" name="year_comparison" class="box">
                    <option value="<"><</option>
                    <option value="=">=</option>
                    <option value=">">></option>
                </select>
                <input type="number" min=0 max="2100" id="release_year" name="release_year" class="box">
            </td>
            <td class="form-cell">
                <label for="genre">genre</label><br>
                <select id="genre" name="genre" class="box">
                    {% for genre in data.genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="tags">tags</label><br>
                <div class="checkbox-form">
                    <select id="tags">
                        <option value="" selected></option>
                    {% for tag in data.tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                    </select>
                </div>
            </td>
            <td class="form-cell"><br>
                <button type="button" class="box release-search" value="submit">submit</button>
            </td>
        </tr>
    </thead>
</table>
</form>
</div>
<div id="search-results"></div>

{% endblock %}