{% extends '_base.html' %}
{% block content %}

<article id="release_search">
    <section>
        <form action="/release_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
            <div id="release_search_bar">
                <div class="search_div">
                    <label for="name">name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="search_div">
                    <label for="artist">artist</label>
                    <input type="text" id="artist" name="artist">
                </div>
                <div class="search_div">
                    <label for="label">label</label>
                    <select id="label" name="label">
                        <option value="" selected></option>
                        {% for label in data.labels %}
                            <option value="{{ label }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_div">
                    <label for="country">country</label>
                    <div>
                        <select id="country" name="country">
                            <option value="" selected></option>
                            {% for country in data.countries %}
                                <option value="{{ country }}">{{ country|country_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="search_div">
                    <label for="rating-filter">rating</label>
                    <div>
                        <select id="rating-filter" name="rating_comparison">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max=100 id="rating" name="rating">
                    </div>
                </div>
                <div class="search_div">
                    <label for="year-filter">year</label>
                    <div>
                        <select id="year-filter" name="year_comparison">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max="2100" id="release_year" name="release_year" class="box">
                    </div>
                </div>
                <div class="search_div">
                    <label for="genre">genre</label>
                    <select id="genre" name="genre" class="box">
                        <option value="" selected></option>
                        {% for genre in data.genres %}
                            <option value="{{ genre }}">{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_div">
{#                    <label for="genres">subgenres</label>#}
{#                    <div class="checkbox-form">#}
{#                        <select id="genres">#}
{#                            <option value="" selected></option>#}
{#                            {% for genre in data.genres %}#}
{#                                <option value="{{ genre }}">{{ genre }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
                </div>
                <div class="search_div">
                    <p></p>
                    <button type="button" id="release-search" value="submit">submit</button>
                </div>
            </div>
        </form>
    </section>
    <div id="search-results"></div>
</article>

{% endblock %}