{% extends '_base.html' %}
{% block content %}

{% if data.release.country %}
    {% set country = data.release.country %}
{% else %}
    {% set country = "?" %}
{% endif %}

<article id="release_container">
    <section id="release" class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-6">
            <img src="/img/release/{{ data.release.id }}" alt="Album art">
        </div>
        <div id="buttons" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-24">
            <button class="pure-button" id="edit-btn" data-id="{{ data.release.id }}">edit</button>
            <button class="pure-button delete-btn" id="delete-btn" data-id="{{ data.release.id }}" data-type="release">delete</button>
        </div>
        <div id="info" class="pure-u-1 pure-u-lg-3-8">
            <h1>{{ data.release.name }} ({{ data.release.year }})</h1>
            <h1><a href="/artist/{{  data.artist.id }}">{{ data.artist.name }}</a></h1>
            <h1><a href="/label/{{ data.label.id }}">{{ data.label.name }}</a></h1>
        </div>
        <div id="other" class="pure-u-1 pure-u-lg-9-24">
            <p>listened: {{ data.release.listen_date.strftime('%Y-%m-%d') }}</p>
            <p>rating: {{ data.release.rating }}%</p>
            <p>country: {{ country|country_name }}</p>
            <p>genre: {{ data.release.main_genre.name }}</p>
        </div>
    </section>
    <section id="bottom" class="pure-g">
        <div id="reviews" class="pure-u-4-24">
            <div id="new">
                <h2>REVIEWS</h2>
                <form method="POST" action="/release/{{ data.release.id }}/add_review" class="pure-form pure-g">
                    <input type="hidden" id="release_id" name="release_id" value="{{ data.release.id }}">
                    <label for="review" class="pure-u-1-2">new review</label>
                    <button type="submit" class="pure-button pure-u-1-2">submit</button>
                    <textarea name="text" id="review" class="pure-u-1"></textarea>
                </form>
            </div>
            <div id="existing">
                {% if data.release.reviews %}
                    <div id="review_table">
                        {% for review in data.release.reviews %}
                            <p>
                                <span class="timestamp">{{ review.timestamp.date() }}:</span>
                                {{ review.text }}
                            </p>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No existing reviews</p>
                {% endif %}
            </div>
        </div>
        <div id="artist" class="pure-u-10-24">
            <h1>also by <a href="/artist/{{ data.artist.id }}">{{ data.artist.name }}:</a></h1>
            <div class="releases pure-g">
                {% for item in data.artist_releases %}
                    {% if not item.id == data.release.id %}
                        <div class="pure-u-1-3">
                            <a href="/release/{{ item.id }}"><img src="/img/release/{{ item.id }}" alt="Release image"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="label" class="pure-u-10-24">
            {% if data.label.name %}
                <h1>also by <a href="/label/{{ data.label.id }}">{{ data.label.name }}:</a></h1>
                <div class="releases pure-g">
                    {% for item in data.label_releases %}
                        {% if not item.id == data.release.id %}
                            <div class="pure-u-1-3">
                                <a href="/release/{{ item.id }}"><img src="/img/release/{{ item.id }}" alt="Album image"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</article>

{% endblock %}
