/* GENERIC */
html {
    font-family: JetBrains Mono;
    color: white;
}

body {
    padding: 5px;
    background: black;
}

.link {
    text-decoration: underline;
    color: white;
}

.page-content {
    display: grid;
    grid-template-columns: 40% 60%;
}
/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
}
#navbar>a {
    text-decoration: none;
    color: white;

}
.active {
    text-decoration: underline!important;
}

/* NEW */
.new-release {
    margin: 15px;
    align-items: center;

}
.new-release > label,input {
    padding: 5px;
    margin: auto;
}
#search-results {
/*    border: 1px solid black; */
}
#data-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#search-results > th,td {
    width: 25%;
/*    padding: 10px; */
    margin: 10px;
}
#search-results > tr {
    border: 1px solid white;
}
#search-results > img {
    height: 250px;
    width: 250px;
}
.radio-col {
    width: 5%;
}
.search-btn {
    color: inherit;
    background: none;
    border: 3px solid white;
    font-family: inherit;
    font-size: inherit;
}


/* HOME */
.main-album-table {
/*   display: flex; */
/*    justify-content: center; */
    text-align: center;
}

.main-album-table > th,td {
    border: 1px solid white;
}

td:not(:has(> img)) {
    padding: 25px;
}

.home0 {
    display: flex;
    height: 85vh;
    padding: 10px;
}

.home1 {
    width: 75%;
    height: 100%;
}

/* ARTISTS, RELEASES, LABELS */
.data-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: 460px;
}
.grid-cell {
    border: 1px solid white;
}