/* Font */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* GENERIC */
html {
    font-family: 'JetBrains Mono';
    color: #c6c6c5;
}

body {
    padding: 5px;
    background: black;
}

.link {
    text-decoration: underline;
    color: #c6c6c5;
}

.page-content {
    display: grid;
    grid-template-columns: 40% 60%;
}
/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
}
#navbar>a {
    text-decoration: none;
    color: white;

}
.active {
    text-decoration: underline!important;
}

/* NEW */
.new-release {
    margin: 15px;
    align-items: center;

}
.new-release label, .new-release input {
    padding: 5px;
    margin: auto;
}
#search-results {
/*    border: 1px solid black; */
}
#data-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#search-results th, #search-results td {
    width: 25%;
/*    padding: 10px; */
    margin: 10px;
}
#search-results tr {
    border: 1px solid white;
}
#search-results img {
    height: 250px;
    width: 250px;
}
.radio-col {
    width: 5%;
}
.search-btn {
    color: inherit;
    background: none;
    border: 3px solid white;
    font-family: inherit;
    font-size: inherit;
}

.search-data {
    height: 7vh;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid #ccc;
/*   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; */
    width: 80%;
    max-width: 50vw;
    padding: 20px;
    box-sizing: border-box;
}
.popup-content {
    position: relative;
}

#popup-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#popup-table {
    width: 50%;
    margin: 0 auto;
}

#popup-table td {
    text-align: center;
}

#submit-btn {
    color: white;
    background-color: black;
    max-height: 10vh;
}

.close-btn {
    cursor: pointer;
}

/* HOME */
.main-album-table {
/*   display: flex; */
/*    justify-content: center; */
    text-align: center;
}

.main-album-table th, .main-album-table td {
    border: 1px solid #3C3E3C;
}

.main-album-table tr {
    height: 15vh;
}
#header_row {
    height: 5vh;
}

.main-album-table td:not(:has(> img)) {
    padding: 25px;
    max-width: 20vw;
    max-height: 15vh;
}

.home-stats td {
    padding: 20px;
}


.home0 {
    display: flex;
    height: 85vh;
    padding: 10px;
}

.home1 {
    width: 75%;
    height: 100%;
}

.art_holder {
    width: 9vw;
}

.homepage_covers {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

/* ARTISTS, RELEASES, LABELS */
.data-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: 460px;
}
.grid-cell {
    border: 1px solid white;
}