/* Font */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --color-white: #c6c6c5;
    --color-black: #0c0d0e;
    --color-grey: #3c3e3c
}


/* Base */
html, body {
    font-family: 'JetBrains Mono';
    color: var(--color-white);
    padding: 5px;
    background: var(--color-black);
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Generic elements */
a {
    text-decoration: none;
    color: var(--color-white);
}

input, textarea, button, select {
    background: var(--color-grey);
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--color-grey);
    color: inherit;
}

button {
    color: inherit;
}

/* Page layout */
.content {
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
}

#navbar > a.active {
    text-decoration: underline!important;
}

/* /index */
.home {
    display: flex;
    height: 85vh;
}
/* /index albums */
.home_albums_container {
    width: 75%;
    height: 100%;
}

.home_pagination {
    padding: 2px;
}

.home_album_table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.home_album_table > thead > tr {
    height: 5vh;
}

.home_album_table, .home_album_table td, .home_album_table th {
    border: 1px solid var(--color-grey);
    border-collapse: collapse;
}

.homepage_covers {
    max-width: 100%;
    max-height: 20vh;
    width: 7vw;
    height: 100%;
}

.home_stats_container {
    width: 25%;
}

.home_stats {
    width: 100%;
}

.home_stats td {
    text-align: center;
    padding: 10px;
    width: 50%;
}

.home_album_table td {
    max-height: 15vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_album_table .col1 {
    width: 7vw;
}

.home_album_table .col2 {
    width: 10vw;
}

.home_album_table .col3 {
    width: 15vw;
}

.home_album_table .col4 {
    width: 4vw;
}

.home_album_table .col5 {
    width: 10vw;
}

.home_album_table .col6 {
    width: 10vw;
}

.home_album_table .col7 {
    width: 10vw;
}

.home_album_table td {
    overflow-x: auto;
}

.home-stats tr {
    vertical-align: top;
    height: 5vh;
}

/* SEARCH */
.search-bar {
    margin: 15px;
}

.search-bar label, .search-bar input {
    padding: 5px;
    margin: auto;
}

#data-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#search-results th, #search-results td {
    margin: 10px;
}
#search-results tr {
    border: 1px solid var(--color-grey);
}
#search-results img {
    width: 12.5vw;
}
.radio-col {
    width: 5%;
}

.search-data {
    height: 7vh;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
    width: 80%;
    max-width: 50vw;
    padding: 20px;
    box-sizing: border-box;
}
.popup-content {
    position: relative;
}

#popup-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#popup-table {
    width: 50%;
    margin: 0 auto;
}

#popup-table td {
    text-align: center;
}

#submit-btn {
    color: #c6c6c5;
    background-color: ;
    max-height: 10vh;
}

.close-btn {
    cursor: pointer;
}


/* ARTISTS, RELEASES, LABELS */
.data-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: 460px;
}
.grid-cell {
    border: 1px solid var(--color-grey);
}

.release-table th, .release-table td {
    width: 75vw;
    text-align: center;
    height: 15vh;
}

.release-table tr {
    padding: 10px;
}

.manual-release-table {
    width: 80vw;
}

.manual-release-table th, .manual-release-table td {
    text-align: center;
    height: 5vh;
}


.form-cell {
    text-align: center;
}


.dynamic-search-table {
    width: 100%;
    table-layout: fixed;
}
.dynamic-search-table td {
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

/* Make sure search-bar inputs/selects don't get too wide - 11% vw ~= 1/9 of the screen */
.search-bar select, .search-bar input {
    max-width: 11vw;
}
/* Make sure search-data table fields don't get too wide */
/* long = field containing a longer string; release title, artist/label name, release format */
/* short = field containing a shorter string; release year, tracks */
.long {
    max-width: 30vw;
    overflow: hidden;
}
.short {
    max-width: 10vw;
}


#review {
    width: 80%;
    height: 10vh;
    max-height: 10vh;
    max-width: 90%;
    resize: none;
}

.review-row {
    vertical-align: top;
}
.review-col {
    text-align: left!important;
    height: 10%!important;
}

.review-time {
    width: 10vw!important;
}



/* Generic element classes; reused throughout the app */
.link {
    text-decoration: underline;
    color: var(--color-white);
}

.page-content { /* change this class name; it is only used on /release (currently missing), /artist, /label  */
    display: grid;
    grid-template-columns: 40% 60%;
}
