{% include 'header.html' %}
<body>
{% include 'navbar.html' %}

<div class="page-content">
    <div>
        <h1>{{ data[0][2] }}</h1>
        <img src="{{ data[0][7] }}" style="max-height: 75vh; max-width: 100%;">
    </div>
    <div>
        <div class="artist-table">
            <table>
                <tr>
                    <td>
                        {% if data[0][4] == 'person' %}born:
                        {{ data[0][5] }}
                        {% elif data[0][4] == 'group' %}founded:
                        {{ data[0][5] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if data[0][4] == 'person' %}died:
                        {% elif data[0][4] == 'group' %}ended:
                        {% endif %}
                        {{ data[0][6] }}
                    </td>
                    <td>
                        country: {{ data[0][3] }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="data-grid" style="grid-template-columns: repeat(4, 25%); grid-auto-rows: 350px;">
            {% for release in data[1] %}
            <div class="grid-cell" style="height: 350px; width: 250px; overflow: hidden; border: collapse;">
                <img src="{{ release[20] }}" style="height:250px; width:250px;">
                <p style="padding: 7px;"><a href="/release/{{ release[9] }}" class="link">{{ release[12]}}</a> ({{ release[13] }}) - {{ release[15] }}%
                <br><a href="/label/{{ release[1] }}" class="link">{{ release[2] }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>