{% extends '_base.html' %}
{% block content %}


<div class="search-bar">
<form action="/dynamic_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
    <table class="filter-table">
        <thead>
        <tr>
            <td class="form-cell">
                <label for="artist" class="form-label">name</label><br>
                <input type="text" id="artist" name="artist" class="box">
            </td>
            <td class="form-cell">
                <label for="country" class="form-label">country</label><br>
                <select id="country" name="country" class="box">
                    <option value="NO VALUE" selected></option>
                    {% for country in data.countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="begin_date" class="form-label">begin year</label><br>
                <select id="begin_filter" name="begin_date" class="box">
                    <option value="-1"><</option>
                    <option value="0">=</option>
                    <option value="1">></option>
                </select>
                <input type="number" min=0 max="2100" id="begin_date" name="begin_date" class="box">
            </td>
            <td class="form-cell">
                <label for="end_date" class="form-label">end year</label><br>
                <select id="end_filter" name="end_comparison" class="box">
                    <option value="-1"><</option>
                    <option value="0">=</option>
                    <option value="1">></option>
                </select>
                <input type="number" min=0 max="2100" id="end_date" name="end_date" class="box">
            </td>
            <td class="form-cell">
                <label for="type" class="form-label">type</label><br>
                <select id="type" name="type" class="box">
                    <option value="NO VALUE" selected></option>
                    <option value="group">group</option>
                    <option value="person">person</option>
                </select>
            </td>
            <td class="form-cell"><br>
                <button type="button" class="box" value="submit" id="search">submit</button>
            </td>
        </tr>
        </thead>
    </table>
</form>
</div>

<div id="search-results"></div>

<script>
    const searchBtn = document.querySelector("#search");
    searchBtn.addEventListener("click", (event) => {
    const data = {
            qtype: "artist",
            name: document.querySelector("#artist").value,
            country: document.querySelector("#country").value,
            begin_comparison: document.querySelector("#begin_filter").value,
            begin_date: document.querySelector("#begin_date").value,
            end_comparison: document.querySelector("#end_filter").value,
            end_date: document.querySelector("#end_date").value,
            type: document.querySelector("#type").value,
        };
        fetch('/dynamic_search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(function(response) {
            return response.text();
         })
        .then(function(html) {
            document.querySelector("#search-results").innerHTML = html;
         });
    });
</script>

{% endblock %}