{% extends '_base.html' %}
{% block content %}
<div class="home0">
    <div class="home1">
        <table>
            <tr>
                <td>
                    {% if pagination.has_prev %}
                        <a href="/home?page={{ pagination.page - 1 }}" class="link">back</a>
                    {% else %}
                        back
                    {% endif %}
                </td>
                <td>
                    {% if pagination.has_next %}
                        <a href="/home?page={{ pagination.page + 1 }}" class="link">next</a>
                    {% else %}
                        next
                    {% endif %}
                </td>
            </tr>
        </table>
        <table class="main-album-table">
            <tr id="header_row">
                <th class="col1">ART</th>
                <th class="col2">ARTIST</th>
                <th class="col3">TITLE</th>
                <th class="col4">RATING</th>
                <th class="col5">LISTEN DATE</th>
                <th class="col6">GENRE</th>
                <th class="col7">TAGS</th>
            </tr>
            {% for item in data %}
            <tr>
                <td class="col1">
                {% set local_image = item[2]|string|img_exists("release", item[7]) %}
                {% if local_image %}
                    <img src="{{ local_image }}" class="homepage_covers" alt="Album art">
                {% else %}
                    <img src="{{ item[7] }}" class="homepage_covers col1" alt="Album art">
                {% endif %}
                </td>
                <td class="col2">
                    <a href="/artist/{{ item[0] }}" class="link">{{ item[1] }}</a>
                </td>
                <td class="col3">
                    <a href="/release/{{ item[2] }}" class="link">{{ item[3] }}</a>
                </td>
                <td class="col4">
                    {{ item[4] }}%
                </td>
                <td class="col5">
                    {{ item[5] }}
                </td>
                <td class="col6">
                    {{ item[6] }}
                </td>
                <td class="col7">
                    {{ item[8] }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="home2">
        <table class="home-stats">
            <tr>
                <th>STATS</th>
            </tr>
            <tr>
                <td>listens</td>
                <td>{{ stats["total_listens"] }}</td>
            </tr>
            <tr>
                <td>artists</td>
                <td>{{ stats["total_artists"] }}</td>
            </tr>
            <tr>
                <td>avg. rating (%)</td>
                <td>{{ stats["average_rating"] }}</td>
            </tr>
            <tr>
                <td>avg. runtime (m)</td>
                <td>{{ stats["average_runtime"] }}</td>
            </tr>
            <tr>
                <td>total runtime (h)</td>
                <td>{{ stats["total_runtime"] }}</td>
            </tr>
            <tr>
                <td>listens this year</td>
                <td>{{ stats["listens_this_year"] }}</td>
            </tr>
            <tr>
                <td>listens per day (2024)</td>
                <td>{{ stats["listens_per_day"] }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}