{% extends '_base.html' %}
{% block content %}
<div class="home0">
    <div class="home1">
        <table>
            <tr>
                <td>
                    {% if pagination.has_prev %}
                        <a href="/home?page={{ pagination.page - 1 }}" class="link">back</a>
                    {% else %}
                        back
                    {% endif %}
                </td>
                <td>
                    {% if pagination.has_next %}
                        <a href="/home?page={{ pagination.page + 1 }}" class="link">next</a>
                    {% else %}
                        next
                    {% endif %}
                </td>
            </tr>
        </table>
        <table class="main-album-table">
            <tr id="header_row">
                <th class="col1">ART</th>
                <th class="col2">ARTIST</th>
                <th class="col3">TITLE</th>
                <th class="col4">RATING</th>
                <th class="col5">LISTEN DATE</th>
                <th class="col6">GENRE</th>
                <th class="col7">TAGS</th>
            </tr>
            {% for item in data %}
            <tr>
                <td class="col1">
                {% set local_image = item[2]|string|img_exists("release", item[7]) %}
                {% if local_image %}
                    <img src="{{ local_image }}" class="homepage_covers" alt="Album art">
                {% else %}
                    <img src="{{ item[7] }}" class="homepage_covers col1" alt="Album art">
                {% endif %}
                </td>
                <td class="col2">
                    <a href="/artist/{{ item[0] }}" class="link">{{ item[1] }}</a>
                </td>
                <td class="col3">
                    <a href="/release/{{ item[2] }}" class="link">{{ item[3] }}</a>
                </td>
                <td class="col4">
                    {{ item[4] }}%
                </td>
                <td class="col5">
                    {{ item[5] }}
                </td>
                <td class="col6">
                    {{ item[6] }}
                </td>
                <td class="col7">
                    {{ item[8] }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="home2">
        <table class="home-stats">
            <tr>
                <th colspan="3"><h3>STATS</h3></th>
            </tr>
            <tr>
                <td>
                    listens
                </td>
                <td>
                    artists
                </td>
                <td>
                    labels
                </td>
            </tr>
            <tr>
                <td>
                   {{ stats.total_listens }}
                </td>
                <td>
                    {{ stats.total_artists }}
                </td>
                <td>
                    {{ stats.total_labels }}
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    avg rating
                </td>
                <td>
                    avg runtime (m)
                </td>
                <td>
                    total runtime (h)
                </td>
            </tr>
            <tr>
                <td>
                    {{ stats.average_rating }}
                </td>
                <td>
                    {{ stats.average_runtime }}
                </td>
                <td>
                    {{ stats.total_runtime }}
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    listens this year
                </td>
                <td></td>
                <td>
                    listens per day (2024)
                </td>
            </tr>
            <tr>
                <td>
                    {{ stats.listens_this_year }}
                </td>
                <td></td>
                <td>
                    {{ stats.listens_per_day }}
                </td>
            </tr>
        </table>

        <table style="width: 90%; text-align: center;">
            <tr>
                <th colspan="5"><h3>GOALS</h3></th>
            </tr>
            {% for goal in goals %}
            <tr>
                <td>start:</td>
                <td>goal:</td>
                <td>progress:</td>
            </tr>
            <tr>
                <td>{{ goal.start_date.date() }}</td>
                <td>{{ goal.amount }} releases by</td>
                <td>{{ goal.new_releases_since_start_date / goal.amount * 100}}%</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ goal.end_goal.date() }}</td>
                <td>{{ goal.new_releases_since_start_date }}/{{ goal.amount }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}