{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
<div class="home0">
    <div class="home1">
        <table class="main-album-table">
            <tr id="header_row">
                <th>ART</th>
                <th>ARTIST</th>
                <th>TITLE</th>
                <th>RATING (%)</th>
                <th>LISTEN DATE</th>
                <th>GENRE</th>
                <th>TAGS</th>
            </tr>
            {% for item in data %}
            <tr>
                <td class="art_holder"><img src="{{ item[7] }}" class="homepage_covers" alt="Album art"></td>
                <td><a href="/artist/{{ item[0] }}" class="link">{{ item[1] }}</a></td>
                <td><a href="/release/{{ item[2] }}" class="link">{{ item[3] }}</a></td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[8] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="home2">
        <table class="home-stats">
            <tr>
                <th>STATS</th>
            </tr>
            <tr>
                <td>listens</td>
                <td>{{ stats["total_listens"] }}</td>
            </tr>
            <tr>
                <td>artists</td>
                <td>{{ stats["total_artists"] }}</td>
            </tr>
            <tr>
                <td>avg. rating (%)</td>
                <td>{{ stats["average_rating"] }}</td>
            </tr>
            <tr>
                <td>avg. runtime (m)</td>
                <td>{{ stats["average_runtime"] }}</td>
            </tr>
            <tr>
                <td>total runtime (h)</td>
                <td>{{ stats["total_runtime"] }}</td>
            </tr>
            <tr>
                <td>listens this year</td>
                <td>{{ stats["listens_this_year"] }}</td>
            </tr>
            <tr>
                <td>listens per day (this year)</td>
                <td>{{ stats["listens_per_day"] }}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>