{% extends '_base.html' %}
{% block content %}

<div class="page-content">
    <div>
    <h1>{{ data['label'].name }}</h1>
    <img src="{{ data.label.image }}" style="max-height: 75vh; max-width: 100%;" alt="Label icon">
    </div>
    <div>
        <table class="label-releases-table">
        {% for release in data.releases %}
        <tr>
            <td>
                <a href="/release/{{ release[0].id }}">{{ release[0].name }}</a> - {{ release[1].name }} ({{ release[0].release_year }})
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
