{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <div>
        <form method="POST" action="/test" class="new-release">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="form-field">
                    {{ form.release.label }}
                    {{ form.release() }}
                    {% if form.release.errors %}
                    <ul class="errors">
                        {% for error in form.release.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">
                    {{ form.artist.label }}
                    {{ form.artist() }}
                    {% if form.artist.errors %}
                    <ul class="errors">
                        {% for error in form.artist.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">
                    <input type="button" value="submit" class="search-btn">
                </div>
            </div>
        </form>
    </div>

    <div id="search-results"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.search-btn').click(function() {
                var release = $('#release').val();
                var artist = $('#artist').val();
                $.ajax({
                    url: '/search',
                    type: 'POST',
                    data: { release: release, artist: artist},
                    success: function(response) {
                        // Update the search results section with the new HTML content returned from the server
                        $('#search-results').html(response);
                    }
                });
            });
        });
    </script>
</body>
</html>