{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <div class="new-release">
        <form action="/search" method="POST">
            <label for="release">release</label>
            <input type="text" id="release" name="release" class="search-btn">

            <label for="artist">artist</label>
            <input type="text" id="artist" name="artist" class="search-btn">

            {% for action in actions %}
            <button class="search-btn" type="button" data-action="{{ action }}" id="search">{{ action }}</button>
            {% endfor %}
        </form>
    </div>

    <div id="search-results"></div>

    <script src="static/scripts.js"></script>

</body>
</html>