{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <div class="new-release">
        <form action="/search" method="POST">
            <label for="release">release</label>
            <input type="text" id="release" name="release">

            <label for="artist">artist</label>
            <input type="text" id="artist" name="artist">

            {% for action in actions %}
            <button class="search-btn" type="button" data-action="{{ action }}">{{ action }}</button>
            {% endfor %}
            <p>*optional</p>
        </form>
    </div>

    <div id="search-results"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.search-btn').click(function() {
                var release = $('#release').val();
                var artist = $('#artist').val();
                $.ajax({
                    url: '/search',
                    type: 'POST',
                    data: { release: release, artist: artist },
                    success: function(response) {
                        // Update the search results section with the new HTML content returned from the server
                        $('#search-results').html(response);
                    }
                });
            });
        });
    </script>
</body>
</html>