{% extends '_base.html' %}
{% block content %}




<div class="search-bar">
<form action="/dynamic_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
<table class="filter-table">
    <thead>
        <tr>
            <td class="form-cell">
                <label for="name">name</label><br>
                <input type="text" id="name" name="name" class="box">
            </td>
            <td class="form-cell">
                <label for="artist">artist</label><br>
                <input type="text" id="artist" name="artist" class="box">
            </td>
            <td class="form-cell">
                <label for="label">label</label><br>
                <select id="label" name="label" class="box">
                    {% for label in data.labels %}
                    <option value="{{ label }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="country">country</label><br>
                <select id="country" name="country" class="box">
                    <option value="NO VALUE" selected></option>
                    {% for country in data.countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="rating">rating</label><br>
                <select id="rating-filter" name="rating_comparison" class="box">
                    <option value="-1"><</option>
                    <option value="0">=</option>
                    <option value="1">></option>
                </select>
                <input type="number" min=0 max=100 id="rating" name="rating" class="box">
            </td>
            <td class="form-cell">
                <label for="year">year</label><br>
                <select id="year-filter" name="year_comparison" class="box">
                    <option value="-1"><</option>
                    <option value="0">=</option>
                    <option value="1">></option>
                </select>
                <input type="number" min=0 max="2100" id="year" name="year" class="box">
            </td>
            <td class="form-cell">
                <label for="genre">genre</label><br>
                <select id="genre" name="genre" class="box">
                    {% for genre in data.genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="form-cell">
                <label for="tags">tags</label><br>
                <input type="text" id="tags" name="tags" class="box">
            </td>
            <td class="form-cell"><br>
                <button type="button" class="box" value="submit" id="releases_search">submit</button>
            </td>
        </tr>
    </thead>
</table>
</form>
</div>
<div id="search-results"></div>

<script>
    const searchBtn = document.querySelector("#releases_search");
    searchBtn.addEventListener("click", (event) => {
    const data = {
            qtype: "release",
            name: document.querySelector("#name").value,
            artist: document.querySelector("#artist").value,
            label: document.querySelector("#label").value,
            country: document.querySelector("#country").value,
            rating_comparison: document.querySelector("#rating-filter").value,
            rating: document.querySelector("#rating").value,
            year_comparison: document.querySelector("#year-filter").value,
            year: document.querySelector("#year").value,
            genre: document.querySelector("#genre").value,
            tags: document.querySelector("#tags").value
        };
        fetch('/dynamic_search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(function(response) {
            return response.text();
         })
        .then(function(html) {
            document.querySelector("#search-results").innerHTML = html;
         });
    });
</script>

{% endblock %}