{% include 'header.html' %}
<body>
{% include 'navbar.html' %}

<div>
    <table class="release-table">
        <thead>
            <tr>
                <th>
                    <img src="{{ data.release.art }}" style="max-height: 75vh; max-width: 100%;" alt="Album art">
                </th>
                <th>
                    <h1><a href="/artist/{{ data.artist.id }}" class="link">{{data.artist.name}}</a></h1>
                </th>
                <th>
                    <h2>{{ data.release.title }}</h2>
                </th>
                <th>
                    <a href="/label/{{ data.label.id }}" class="link">{{ data.label.name }}</a>
                </th>
                <th>
                    <a href="/edit/{{ data.release.id }}" class="link">edit</a>
                </th>
                <th>
                   <p class="link" id="delete" data-id="{{ data.release.id }}">delete</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>listened: {{ data.release.listen_date }}</p>
                </td>
                <td>
                    <p>rating: {{ data.release.rating }}%</p>
                </td>
                <td>
                    <p>released: {{ data.release.release_year }}</p>
                </td>
                <td>
                    <p>genre: {{ data.release.genre }}</p>
                </td>
                <td>
                    <p>tags: {{ data.release.tags }}</p>
                </td>
                <td>
                    <p>country: {{ data.release.country }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Review</h1>
                </td>
                <td colspan="5" style="border: 1px solid #c6c6c5; padding: 10px;">
                    <form method="POST" action="/add-review">
                        <input type="hidden" id="release_id" name="release_id" value="{{ data.release.id }}">
                        <textarea name="review" id="review" style="width: 80%; height: 10vh; max-height: 10vh; max-width: 90%; resize: none; background-color: #c6c6c5;">{{ data.release.review }}</textarea>
                        <button type="submit" class="box">submit</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="../static/scripts.js"></script>

</body>