{% include 'header.html' %}
<body>
{% include 'navbar.html' %}

<div class="page-content">
    <div>
        <div style="display:flex; align-items: center;">
            <h1><a href="/artist/{{ data.artist.id }}" class="link">{{data.artist.name}}</a> - {{ data.release.title }}</h1>
            <p>&nbsp <a href="/label/{{ data.label.id }}" class="link">{{ data.label.name }}</a></p>
            <p>&nbsp &nbsp &nbsp &nbsp <a href="/edit/{{ data.release.id }}" class="link">edit</a></p>
        </div>
        <img src="{{ data.release.art }}" style="max-height: 75vh; max-width: 100%;" alt="Album art">
    </div>
    <div>
        <div class="release-table">
            <table>
                <tr>
                    <td>
                        released: {{ data.release.release_year }}
                    </td>
                    <td>
                        genre: {{ data.release.genre }}
                    </td>
                    <td>
                        rating: {{ data.release.rating }}
                    </td>
                    <td>
                        runtime: {{ data.release.runtime // 60000 }} min
                    </td>
                </tr>
                <tr>
                    <td>
                        listened: {{data.release.listen_date }}
                    </td>
                    <td></td>
                    <td>
                        <a href="/artist/{{ data.artist.id }}" class="link">go to artist</a>
                    </td>
                    <td>
                        <a href="/label/{{ data.label.id }}" class="link">go to label</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p>{{data.release}}</p>
    <p>{{data.artist}}</p>
    <p>{{data.label}}</p>

</div>
</body>