{% include 'header.html' %}

<body>
{% include 'navbar.html' %}

<div class="pagebar">
    <table>
        <thead>
            <tr>
                {% if pagination.has_prev %}
                <td>
                    <a href="{{ url_for('releases',page=pagination.page - 1) }}">back</a>
                </td>
                {% else %}
                <td>
                    <a style="pointer-events: none">back</a>
                </td>
                {% endif %}
                {% if pagination.has_next %}
                <td>
                    <a href="{{ url_for('releases',page=pagination.page + 1) }}">next</a>
                </td>
                {% else %}
                <td>
                    <a style="pointer-events: none">next</a>
                </td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="data-grid">
    {% for release in releases %}
    <div class="grid-cell">
        <a href="/release/{{ release.id }}" class="link">
        <img src="{{ release.art }}" style="height:82%; width:100%;" alt="Release cover art">
        <p>{{ release.title }} ({{ release.rating }}%)</p>
        </a>
    </div>
    {% endfor %}
</div>
</body>