<form id="data-form" action="/submit" method="post">

<table id="data-table">
    <thead>
    <tr>
        <th style="width: 25%;">RELEASE</th>
        <th style="width: 25%;">ARTIST</th>
        <th style="width: 20%;">LABEL</th>
        <th style="width: 9%;">DATE</th>
        <th style="width: 8%;">TRACKS</th>
        <th style="width: 10%;">FORMAT</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr data-item="{{ item }}" class="search-data">
        <td style="display: none;">
            <input value="{{ item }}" type="radio" name="selected_item">
        </td>
        <td style="width: 25%;">{{ item['release']['name'] }}</td>
        <td style="width: 25%;">{{ item['artist']['name'] }}</td>
        <td style="width: 20%;">{{ item['label']['name'] }}</td>
        <td style="width: 6%;">{{ item['date'] }}</td>
        <td style="width: 6%;">{{ item['track-count'] }}</td>
        <td style="width: 15%;">{{ item['format'] }}</td>
        <td style="display: none;">{{ item['release_date'] }}</td>
        <td style="display: none;">{{ item['rating'] }}</td>
        <td style="display: none;">{{ item['genre'] }}</td>
        <td style="display: none;">{{ item['tags'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" id="selected_item" name="selected_item">
</form>

<script>
   (function() {
        // Function to create and show the pop-up element
        function showPopup(data) {
            try {
                // Perform string substitutions in steps so as to not accidentally alter release information
                const data2 = data.replace(/{'/g, '{"');
                const data3 = data2.replace(/'}/g, '"}');
                const data4 = data3.replace(/':/g, '":');
                const data5 = data4.replace(/ '/g, ' "');
                const data6 = data5.replace(/',/g, '",');
                let jsonStr = data6;

                const parsed_data = JSON.parse(jsonStr);
                // Create the pop-up container
                const popup = document.createElement('div');
                popup.className = 'popup';
                popup.innerHTML = `
                    <div class="popup-content">
                        <span class="close-btn">&times;</span>
                        <form action="/submit" method="POST" id="popup-form">
                            <input type="hidden" name="release" value="${parsed_data.release.name}">
                            <input type="hidden" name="artist" value="${parsed_data.artist.name}">
                            <input type="hidden" name="label" value="${parsed_data.label.name}">
                            <input type="hidden" name="release_id" value="${parsed_data.release.mbid}">
                            <input type="hidden" name="artist_id" value="${parsed_data.artist.mbid}">
                            <input type="hidden" name="label_id" value="${parsed_data.label.mbid}">
                            <table id="popup-table">
                                <tr>
                                    <td>RELEASE</td>
                                    <td>${parsed_data.release.name}</td>
                                </tr>
                                <tr>
                                    <td>ARTIST</td>
                                    <td>${parsed_data.artist.name}</td>
                                </tr>
                                </tr>
                                <tr>
                                    <td>LABEL</td>
                                    <td>${parsed_data.label.name}</td>
                                </tr>
                                <tr>
                                    <td>TRACKS</td>
                                    <td>${parsed_data["track-count"]}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="rating">RATING</label>
                                    </td>
                                    <td>
                                        <input type="number" min="0" max="100" required id="rating" name="rating">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="release_year">YEAR</label>
                                    </td>
                                    <td>
                                        <input type="number" min="0" required id="year" name="release_year">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="genre">GENRE</label>
                                    </td>
                                    <td>
                                        <input type="text" required id="genre" name="genre">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="tags">TAGS</label>
                                    </td>
                                    <td>
                                        <input type="text" id="tags" name="tags">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button type="submit" id="submit-btn">submit</button>
                                    </td>
                                </tr>
                            </table>

                        </form>
                    </div>
                `;

                // Append the pop-up to the body
                document.body.appendChild(popup);

                // Close the pop-up when the close button is clicked
                popup.querySelector('.close-btn').addEventListener('click', function() {
                    document.body.removeChild(popup);
                });
            } catch (error) {
                console.error('Failed to parse data-item:', error);
            }
        }

        // Attach click event listeners to table rows
        let tableRows = document.querySelectorAll("table tbody tr");
        tableRows.forEach((tableRow) => {
            tableRow.addEventListener("click", function() {
                const data = tableRow.dataset.item; // Assuming data-item contains JSON
                showPopup(data);
            });
        });
    })();
</script>