<form id="data-form" action="/submit" method="post">

<table id="data-table">
    <thead>
    <tr>
        <th style="width: 25%;">RELEASE</th>
        <th style="width: 25%;">ARTIST</th>
        <th style="width: 20%;">LABEL</th>
        <th style="width: 9%;">DATE</th>
        <th style="width: 8%;">TRACKS</th>
        <th style="width: 10%;">FORMAT</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr data-item="{{ item }}" class="search-data">
        <td style="display: none;">
            <input value="{{ item }}" type="radio" name="selected_item">
        </td>
        <td style="width: 25%;">{{ item['release']['name'] }}</td>
        <td style="width: 25%;">{{ item['artist']['name'] }}</td>
        <td style="width: 20%;">{{ item['label']['name'] }}</td>
        <td style="width: 6%;">{{ item['date'] }}</td>
        <td style="width: 6%;">{{ item['track-count'] }}</td>
        <td style="width: 15%;">{{ item['format'] }}</td>
        <td style="display: none;">{{ item['release_date'] }}</td>
        <td style="display: none;">{{ item['rating'] }}</td>
        <td style="display: none;">{{ item['genre'] }}</td>
        <td style="display: none;">{{ item['tags'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" id="selected_item" name="selected_item">
</form>

<script>
    (function() {
    let tableRows = document.querySelectorAll("table tbody tr");
    for (const tableRow of tableRows) {
        tableRow.addEventListener("click", function() {
            const radioBtn = tableRow.querySelector("input[type='radio']");
            radioBtn.checked = true;
            const data = tableRow.dataset.item;
            document.getElementById("data-form").submit();
        });
    }
    })();
</script>
