{% include 'header.html' %}

<body>
{% include 'navbar.html' %}

<div>
    <table>
        <thead>
            <tr>
                <td>total listens: {{ data["total_listens"] }}</td>
                <td>total artists: {{ data["total_artists"] }}</td>
                <td>average rating (%): {{ data["average_rating"] }}</td>
                <td>total runtime (h): {{ data["total_runtime"] }}</td>
                <td>listens this year: {{ data["this_year"] }}</td>
                <td>listens per day: {{ data["per_day"] }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>most frequent labels: </td>
                {% for label in data["most_frequent_labels"] %}
                <td>{{ label[0] }} ({{label[1]}})</td>
                {% endfor %}
            </tr>
            <tr>
                <td>highest rated labels: </td>
                {% for label in data["top_labels"] %}
                <td>{{ label[0] }} ({{ label[1] }})</td>
                {% endfor %}
            </tr>
            <tr>
                <td>most frequent artists: </td>
                {% for artist in data["frequent_artists"] %}
                <td>{{ artist[0] }} ({{ artist[1] }})</td>
                {% endfor %}
            </tr>
            <tr>
                <td>top rated artists: </td>
                {% for artist in data["top_artists"] %}
                <td>{{ artist[0] }} ({{ artist[1] }})</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

</body>