{% extends '_base.html' %}
{% block content %}

<table style="width: 100%; text-align: center; border: 2px solid var(--color-grey); padding: 10px;">
        <thead>
            <tr>
                <td>total listens</td>
                <td>total artists</td>
                <td>average rating (%)</td>
                <td>total runtime (h)</td>
                <td>listens this year</td>
                <td>listens per day</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data["total_listens"] }}</td>
                <td>{{ data["total_artists"] }}</td>
                <td>{{ data["average_rating"] }}</td>
                <td>{{ data["total_runtime"] }}</td>
                <td>{{ data["listens_this_year"] }}</td>
                <td>{{ data["listens_per_day"] }}</td>
            </tr>
        </tbody>
    </table>

<div class="stats_container">
    <table class="stats_table">
        <thead>
            <tr>
                <th colspan="10" style="border: 1px solid var(--color-grey);"><h3>most frequent labels</h3></th>
            </tr>
            <tr>
                <th>name</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
        {% for label in data["top_frequent_labels"] %}
            <tr>
                <td>{{ label["name"] }}</td>
                <td>{{label["count"]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="stats_table">
        <thead>
            <tr>
                <th colspan="10" style="text-align: left; border: 1px solid var(--color-grey);">
                    <h3>highest rated labels</h3>
                </th>
            </tr>
            <tr>
                <th>name</th>
                <th>count</th>
                <th>rating</th>
            </tr>
        </thead>
        <tbody>
        {% for label in data["top_rated_labels"] %}
            <tr>
                <td>
                    {{ label["name"] }}
                </td>
                <td>
                    {{ label["count"] }}
                </td>
                <td>
                    {{ label["rating"] }}%
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="stats_table">
        <thead>
            <tr>
               <th colspan="10" style="text-align: left; border: 1px solid var(--color-grey);">
                   <h3>most frequent artists</h3>
               </th>
            </tr>
            <tr>
                <th>name</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in data["top_frequent_artists"] %}
            <tr>
                <td>
                    {{ artist["name"] }}
                </td>
                <td>
                    {{ artist["count"] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="stats_table">
        <thead>
            <tr>
                <th colspan="10" style="text-align: left; border: 1px solid var(--color-grey);">
                    <h3>highest rated artists</h3>
                </th>
            </tr>
            <tr>
                <th>name</th>
                <th>count</th>
                <th>rating</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in data["top_rated_artists"] %}
            <tr>
                <td>
                    {{ artist["name"] }}
                </td>
                <td>
                    {{ artist["count"] }}
                </td>
                <td>
                    {{ artist['rating'] }}%
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}