/* Font */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Variables */
:root {
    --color-white: #c6c6c5;
    --color-black: #0c0d0e;
    --color-grey: #3c3e3c;
    --home-table-head-row-height: 4vh;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--color-white);
    background: var(--color-black);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Main page elements */
#navbar {
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
}

/* Home */
#home {
    width: 100%;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 22.5vw;
}

#home_table, #home_aside {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* Home <article> */
#home_table td, #home_table th {
    border: 1px solid var(--color-grey);
}

#home_table thead {
    height: var(--home-table-head-row-height);
}

/* Table cell width */
/* 1st column (image) */
#home_table > tbody > tr > td:first-child,
#home_table > thead > tr > th:first-child {
    width: 8vw;
}
/* 4th column (rating) */
#home_table td:nth-child(4),
#home_table th:nth-child(4) {
    width: 5vw;
}

/* last column (tags) - fill remaining space */
#home_table td:nth-child(7),
#home_table th:nth-child(7) {
    width: auto;
}

/* every other column */
#home_table td:nth-child(2), #home_table td:nth-child(3), #home_table td:nth-child(5), #home_table td:nth-child(6),
#home_table th:nth-child(2), #home_table th:nth-child(3), #home_table th:nth-child(5)  #home_table th:nth-child(6) {
    width: 12vw;
}

#home_table th > button {
    height: var(--home-table-head-row-height);
}

#home_table th > button:disabled {
    color: var(--color-grey)
}

#home_table img {
    width: 100%;
}

#home_table_pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Home <aside> */
#home_aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--color-grey);
}

#home_aside h4 {
    display: grid;
    align-items: center;
    height: var(--home-table-head-row-height);
}

#home_aside table {
    width: 100%;
    border-collapse: collapse;
}

#home_aside tr {
    /*outline: thin solid var(--color-grey);*/
    height: 5vh;
}

#home_aside td, #home_goals th {
    border-top: 1px solid var(--color-grey);
}

#home_table td:empty {
    height: 5vh;
}