{% extends '_base.html' %}
{% block content %}

<article id="label_container">
    <section id="label">
        <div id="top">
            <div id="label_image">
                <img src="/img/label/{{ data.label.id }}" alt="Label image">
            </div>
        </div>
        <div id="info">
            <div id="name">
                <h1>{{ data.label.name }}</h1>
                <h2>{{ data.label.country|country_name }}</h2>
            </div>
            <div id="start">
                {% if data.label.begin != data.no_start %}
                    started:
                    {{ data.label.begin }}
                {% endif %}
            </div>
            <div id="end">
                {% if data.label.end != data.no_end %}
                    ended:
                    {{ data.label.end }}
                {% endif %}
            </div>
        </div>
    </section>
    <aside>
        <div id="release_info">
            <h1>releases</h1>
            <div>
                {% for item in data.label.releases %}
                    <div>
                        <a href="/release/{{ item.id }}"><img src="/img/release/{{ item.id }}" alt="Release image"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </aside>
</article>
{% endblock %}
