{% extends '_base.html' %}
{% block content %}

<article id="label_container">
    <section id="label">
        <div id="top">
            <div id="label_image">
                <img src="/img/label/{{ data.label.id }}" alt="Label image">
            </div>
        </div>
        <div id="info">
            <div id="name">
                <h1>{{ data.label.name }}</h1>
                <h1>{{ data.label.country }}</h1>
            </div>
            <div id="start">
                started:
                {{ data.label.begin_date }}
            </div>
            <div id="end">
                {% if data.label.end_date.strftime('%Y-%m-%d') == '9999-12-31' %}

                {% else %}
                    ended:
                    {{ data.label.end_date }}
                {% endif %}
            </div>
        </div>
    </section>
    <aside>
        <div id="release_info">
            <h1>releases</h1>
            <div>
                {% for item in data.releases %}
                    <div>
                        <a href="/release/{{ item.Release.id }}"><img src="/img/release/{{ item.Release.id }}" alt="Release image"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </aside>
</article>
{% endblock %}
