{% extends '_base.html' %}
{% block content %}
<article id="label_search">
    <section>
        <form action="/dynamic_search" method="POST"> <!-- this form action is not actually used, but keeping it here for readability -->
            <div id="label_search_bar">
                <div class="search_div">
                    <label for="label">name</label>
                    <input type="text" id="label" name="label">
                </div>
                <div class="search_div">
                    <label for="country">country</label>
                    <select id="country" name="country" class="box">
                        <option value="" selected></option>
                        {% for country in data.countries %}
                            <option value="{{ country }}">{{ country|country_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_div">
                    <label for="begin_date">begin</label>
                    <div>
                        <select id="begin_filter" name="begin_date" class="box">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max="2100" id="begin_date" name="begin_date" class="box">
                    </div>
                </div>
                <div class="search_div">
                    <label for="end_date">end</label>
                    <div>
                        <select id="end_filter" name="end_comparison" class="box">
                            <option value="<"><</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                        </select>
                        <input type="number" min=0 max="2100" id="end_date" name="end_date" class="box">
                    </div>
                </div>
                <div class="search_div">
                    <label for="type">type</label>
                    <select id="type" name="type" class="box">
                        <option value="" selected></option>
                        {% for type in data.types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_div">
                    <p></p>
                    <button type="button" id="label-search" value="submit">submit</button>
                </div>
            </div>
        </form>
    </section>
    <div id="search-results"></div>
</article>


{% endblock %}
