<nav id="entity_page">
    {% if pagination.has_prev %}
        <button class="pure-button pagination_button prev_page">back</button>
    {% else %}
        <button disabled class="pure-button pagination_button">back</button>
    {% endif %}

    {% if pagination.has_next %}
        <button class="pure-button pagination_button next_page">next</button>
    {% else %}
        <button disabled class="pure-button pagination_button">next</button>
    {% endif %}
</nav>
<div id="entity_search_results" class="pure-g">
    {% for label in data[0:15] %}
        <div class="search_result pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
            <a href="/label/{{ label.id }}">
                <img src="/img/label/{{ label.id }}" alt="Label image" class="search_image">
                <p>{{ label.name }}</p>
            </a>
        </div>
    {% endfor %}
</div>

<!-- Below are used by javascript function that handles pagination -->
<input type="hidden" value="{{ pagination.page }}" id="current_page">
<p hidden id="data_full">{{ data_full }}</p>
<p hidden id="per_page">{{ per_page }}</p>
