{% extends '_base.html' %}
{% block content %}

{% set label = data.label %}
{% set releases = data.releases %}

    <div class="page-content">
    <div>
    <h1>{{ label.name }}</h1>
    {% if label.image %}
        {% set src = label.image %}
    {% else %}
        {% set src = "/static/img/none.png" %}
    {% endif %}
    <img src="../{{ src }}" style="max-height: 75vh; max-width: 100%;" alt="Label icon">
    </div>
    <div>
        <table class="label-releases-table">
        {% for release in releases %}
        <tr>
            <td>
                <a href="/release/{{ release.id }}">{{ release.name }}</a> - {{ release.name }} ({{ release.release_year }})
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
