@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* colours */
@white: #c6c6c5;
@black: #0c0d0e;
@grey: #3c3e3c;
@grey_light: #7b7f7b;

/* sizes */
@row_height_small: 4vh;

/* mixins */
.grid {
  display: grid;
}

.grey_border {
  border: 1px solid @grey;
}

.black_border {
  border: 1px solid @black;
}

.grey_bg {
  background: @grey;
}

.black_bg {
  background: @black;
}

/* generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
  color: @white;
  background: @black;
  border-collapse: collapse;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 10px;
  overflow: hidden;
  .grid();
  grid-template-rows: auto 1fr;
}

.content {
  width: 100%;
  height: 100%;
  max-height: 92.5vh;
  overflow-y: scroll;
}

#navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  h1 {
    padding-right: 20px;
  }
  a {
    color: @white;
    font-size: large;
    text-decoration: none;
    &.active {
      text-decoration: underline!important;
    }
  }
}

/* Pure-CSS modifiers */
.pure-table {
  .grey_border();
  td,
  th {
    border-left: none;
    vertical-align: middle;
  }
  word-wrap: break-word;
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
}
.pure-table-bordered td,
.pure-table-horizontal th,
.pure-table-horizontal td {
  border-bottom: 1px solid @grey;
}

.pure-button {
  padding: .4em .5em;
  background-color: @grey;
  color: @white;
}

.pure-form input[type="text"],
.pure-form input[type="number"],
.pure-form select,
.pure-form input[type="date"] {
    .grey_border();
}

.pure-form select {
  height: auto !important;
  background-color: @black;
}

/* /, /home */
#home {
  height: 100%;
  div {
    height: 100%;
    article {
      height: 100%;
    }
    aside {
      height: 100%;
      div {
        height: 100%;
        div {
          height: 50%;
          section {
            height: 100%;
          }
        }
      }
    }
  }

  #home_table,
  #home_goals,
  #home_goals thead,
  #home_aside {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

  }

  #home_release_table {
    height: 100%;
    table {
      height: 100%;
      max-height: 100%;
      width: 100%;
      align-items: center;
      text-align: center;
      th,
      td {
        border-bottom: 1px solid @grey;
        text-align: center;
        img {
          max-height: 13vh;
          display: inline-block;
        }
      }
    }
  }

  #home_goals {
    height: 90%;
  }
  #home_stats {
    height: 100%;
    font-size: medium;
  }
}

/* /new */
#new_release {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 100%;
  div {
    form {
      fieldset {
        legend {
          color: @white;
        }
      }
    }
  }

  #search_results {
    height: 80%;
    form {
      height: 100%;
    }
    .pure-table {
      height: 100%;
      th,
      td {
        text-align: center;
      }
    }


    #manual_release_container {
      text-align: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          margin-bottom: 1vh;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

/* popups */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .grey_bg();
  .grey_border();
  width: 100%;
  height: 60%;
  max-width: 50vw;
  max-height: 75vh;
  box-sizing: border-box;

  .popup_content {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    align-items: center;
    padding: 2%;
    .close-btn {
      height: 20%;
      .grey_bg();
      .black_border();
      font-size: 2rem;
      margin-top: 1%;
      margin-left: 1%;
      padding: 2%;
    }
    #popup-form {
      div {
        display: grid;
        grid-template-rows: repeat(9, @row_height_small);
        justify-content: center;
        div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          .black_border();
          .left_side {
            text-align: right;
            margin-right: 1vw;
          }
          .right_side {
            text-align: center;
            margin-left: 1vw;
          }

        }
        button {
          margin-top: 1vh;
          justify-self: center;
          width: 25%;
        }
      }
    }
  }
}

/* /release/# */
#release_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  #release {
    .grey_border();
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    img {
      height: 250px;
      align-self: center;
      display: block;
      margin: 0 auto;
    }
    #buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
    #info {
      margin-left: 25px;
      align-content: center;
      text-align: center;
    }
    #other {
      align-content: center;
      text-align: center;
      p {
        font-size: large;
        margin: 15px;
      }
    }
  }
  #bottom {
    .grey_border();
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    #reviews {
      height: 100%;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      .grey_border();
      h2 {
        text-align: center;
        margin-bottom: 10px;
      }
      form {
        * {
          margin-bottom: 10px;
        }
      }
      #existing {
        #review_table {
          p {
            margin-bottom: 10px;
            .timestamp {
              font-style: italic;
              color: @grey_light;
            }
          }
        }
      }
    }
    #artist,
    #label {
      height: 100%;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      overflow-y: auto;
      .grey_border();
      img {
        height: 250px;
      }
    }
  }
}

#delete_popup {
  height: 25vh;
  background: @black;
  padding: 25px;
  div {
    .delete {
      .black_border();
      font-size: larger;
    }
  }
}

#edit_popup {
  padding: 25px;
  background: @black;
  #top {
    * {
      display: flex;
      justify-content: center;
    }
    div {
      align-items: center;
      button {
        height: fit-content;
      }
    }
  }
  #bottom {
    form {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
      }
    }
  }
}

/* /artist/# */
#artist_container,
#label_container {
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  #artist {
    height: 100%;
    #top {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    #info {
      div {
        margin: 10px;
      }
    }
  }
  aside {
  }
  aside {
    padding-left: 15px;
    height: 100%;
    overflow: hidden;
  }
  #release_info {
    height: 100%;
    overflow-y: auto;
    img {
      height: 250px;
    }
  }

}


#artist_search,
#label_search,
#release_search {
  #search_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

#entity_page {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#entity_search_results {
  height: 100%;
  max-height: 100%;

  .search_result {
    text-align: center;
    height: 25vh;
    overflow: hidden;

    img {
      max-height: 20vh;
      width: auto;
      object-fit: contain;
    }

    p {
      margin-top: auto;
    }
  }
}

/* stats */
#stats {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#stats_quick {
  justify-content: center;
  text-align: center;
  div {
    .grey_border();
    padding: 10px;
  }
}

#stats_data {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#stats_full {
  flex: 1;
  text-align: center;
  div {
    .grey_border();
  }
  .col {
    display: flex;
    flex-direction: column;
    height: 85%;
    table {
      flex: 1;
      th {
        text-align: center;
      }
    }
  }
  #favourite {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
}

#goals {
  display: flex;
  flex-direction: column;
  text-align: center;
  form {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
  }
  th {
    text-align: center;
  }
}

#error {
  display: block;
  width: 100%;
  padding: 2%;
  * {
    padding: 2%;
  }
}
